In [2]:
import pandas as pd
import numpy as np

In [3]:
df_1=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-26-Nov-2023_15875-jobs_685-pages.csv')
df_1

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking"
15871,Release Support Engineer,Turing · Pakistan Reposted \n1 week ago,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3766809535,"1,001-5,000 employees · IT Services and IT Con..."
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees

In [4]:
df_2=pd.read_csv('Files used in current analysis/Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-26-Nov-2023_15947-jobs_685-pages.csv')
df_2

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...
15942,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
15944,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
15945,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
15946,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [5]:
df_1['Job ID']=df_1['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_2['Job ID']=df_2['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [6]:
# df_1[df_1['Job ID'].isin(df_2['Job ID'])]
# df_2[df_2['Job ID'].isin(df_1['Job ID'])]
# pd.merge(df_1[df_1['Job ID'].isin(df_2['Job ID'])],df_2[df_2['Job ID'].isin(df_1['Job ID'])])
# pd.merge(df_1[df_1['Job ID'].isin(df_2['Job ID'])],df_2[df_2['Job ID'].isin(df_1['Job ID'])]).drop_duplicates(subset=['Job ID']).shape

In [7]:
df_3=pd.merge(df_1,df_2,on='Job ID',how='inner')
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
27639,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886,https://www.linkedin.com/jobs/view/3767951886,About the job,NaN
27640,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
27641,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
27642,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
27643,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [8]:
# why df_3 have 27644 rows

In [9]:
df_1.drop_duplicates(subset=['Job ID']).shape

(12010, 6)

In [10]:
df_2.drop_duplicates(subset=['Job ID']).shape

(12321, 4)

In [11]:
df_3.drop_duplicates(subset=['Job ID']).shape

(12010, 9)

In [12]:
df_1.isnull().sum()

Job Title    288
Job Info     288
Job Type     302
Job Link       0
employees    303
Job ID         0
dtype: int64

In [13]:
df_2.isnull().sum()

Job Link             0
Job Desception     315
Company Info      4084
Job ID               0
dtype: int64

In [14]:
df_3.isnull().sum()

Job Title          348
Job Info           348
Job Type           362
Job Link_x           0
employees          363
Job ID               0
Job Link_y           0
Job Desception     385
Company Info      6478
dtype: int64

***why there are 348 Null values in Job Title instead of 288***

In [15]:
df_3.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info'],
      dtype='object')

In [16]:
df_1.dropna(inplace=True)
df_2.dropna(subset=['Job Desception'],inplace=True)
df_3.dropna(subset=['Job Title','Job Info','Job Type','employees'],inplace=True) # i want to delete specific columns

In [17]:
df_1.shape,df_2.shape,df_3.shape

((15572, 6), (15632, 4), (27281, 9))

In [18]:
df_1=df_1.drop_duplicates(subset=['Job ID'])
df_2=df_2.drop_duplicates(subset=['Job ID'])
df_3=df_3.drop_duplicates(subset=['Job ID'])

In [19]:
df_1.shape,df_2.shape,df_3.shape

((11744, 6), (12037, 4), (11744, 9))

In [20]:
12010-363

11647

In [21]:
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
27639,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886,https://www.linkedin.com/jobs/view/3767951886,About the job,NaN
27640,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
27641,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
27642,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
27643,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [22]:
df_4=df_3.dropna(subset=['Job Desception'])
df_4

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
27639,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886,https://www.linkedin.com/jobs/view/3767951886,About the job,NaN
27640,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
27641,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
27642,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
27643,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [23]:
df_4.shape

(11708, 9)

In [24]:
df_4_uncomplete_desc_IDs=[]
for i in range(0,len(df_4.iloc[:])):
    if len(df_4.iloc[i]['Job Desception'])<20:
        df_4_uncomplete_desc_IDs.append(df_4.iloc[i]['Job ID'])

In [25]:
df_4_uncomplete_desc_IDs
len(df_4_uncomplete_desc_IDs)

1125

In [26]:
df_4_uncomp_desc=df_4[df_4['Job ID'].isin(df_4_uncomplete_desc_IDs)]
df_4_uncomp_desc

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
120,Digital Marketing Strategist and Planner,Prime Human Resource Services (Pvt) Ltd · Karā...,Full-time,https://www.linkedin.com/jobs/view/3727011545,"10,001+ employees",3727011545,https://www.linkedin.com/jobs/view/3727011545,About the job,NaN
328,Software Engineer-Integration,People (Professional Employers Pvt Ltd) · Isla...,Full-time,https://www.linkedin.com/jobs/view/3727002795,"5,001-10,000 employees",3727002795,https://www.linkedin.com/jobs/view/3727002795,About the job,NaN
801,DevOps Engineer,"TecBrix · Lahore, Punjab, Pakistan (Remote) \...",Full-time,https://www.linkedin.com/jobs/view/3727012776/...,11-50 employees,3727012776,https://www.linkedin.com/jobs/view/3727012776,About the job,NaN
842,Real Estate Sales Agent,"Fajar Real Estate · Lahore, Punjab, Pakistan (...",Full-time,https://www.linkedin.com/jobs/view/3727005694/...,11-50 employees,3727005694,https://www.linkedin.com/jobs/view/3727005694,About the job,NaN
849,Google Ads Specialist,"RT WEB Solutions · Lahore District, Punjab, Pa...",Full-time,https://www.linkedin.com/jobs/view/3727058923/...,11-50 employees,3727058923,https://www.linkedin.com/jobs/view/3727058923,About the job,NaN
...,...,...,...,...,...,...,...,...,...
27638,Senior Consultant- Business Consulting- Intern...,"EY in Pakistan · Karachi Division, Sindh, Pak...",Hybrid\n\n \nInternship\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767944882,"1,001-5,000 employees · Accounting",3767944882,https://www.linkedin.com/jobs/view/3767944882,About the job,NaN
27639,Unity Developer,"Codiea.io · Bahawalpur, Punjab, Pakistan \n1 ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767951886,1-10 employees,3767951886,https://www.linkedin.com/jobs/view/3767951886,About the job,NaN
27641,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting,3772530977,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
27642,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...,3771943212,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
27643,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees,3767944844,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [27]:
df_5=df_4.drop(df_4_uncomp_desc.index)
df_5

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
27634,Technical Sales Support Specialist,"BUZZMAX.CA · Karāchi, Sindh, Pakistan \n1 wee...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3765162094,11-50 employees,3765162094,https://www.linkedin.com/jobs/view/3765162094,About the job\n \n \nABOUT US BUZZM...,Telecommunications\n \n ...
27635,YouTube Channel Producer,"Senew Tech · Lahore District, Punjab, Pakistan...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767643794,"501-1,000 employees",3767643794,https://www.linkedin.com/jobs/view/3767643794,About the job\n \n \nWe are seeking...,Information Technology & Services\n ...
27636,Social Media Content Creator - Night Shift wit...,"Dymentions Pakistan · Karāchi, Sindh, Pakistan...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3769970428,11-50 employees · Marketing Services,3769970428,https://www.linkedin.com/jobs/view/3769970428,About the job\n \n \nJoin the Socia...,Marketing Services\n \n ...
27637,Design Sales agents,Self-employed · Pakistan \n1 week ago\n\n · 1...,Remote\n\n \nPart-time,https://www.linkedin.com/jobs/view/3766852400,Shayan Tauqeer is hiring for this job,3766852400,https://www.linkedin.com/jobs/view/3766852400,About the job\n \n \nCompany Descri...,NaN
27640,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking",3767355025,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN

In [28]:
# df_2[df_2['Job ID']==3769970428] for verification

### exploring job titles

In [29]:
df_3['Job Title']

0                                LinkedIn Data Extractor
1                                   It Management Intern
2                                 SQL Database Developer
3                        Business Intelligence Developer
4                             Web Developer - Internship
                              ...
27639                                    Unity Developer
27640    Manager – Growth Chat & SMS (Digital Marketing)
27641                    Information Security Specialist
27642          FUNCTIONAL CONSULTANT ORACLE FUSION - HCM
27643                                Community Associate
Name: Job Title, Length: 11744, dtype: object

In [30]:
df_3['Job Title'].unique()

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', ...,
       'Manager – Growth Chat & SMS (Digital Marketing)',
       'Information Security Specialist',
       'FUNCTIONAL CONSULTANT ORACLE FUSION - HCM'], dtype=object)

In [32]:
df_3['Job Title'].unique()[:20]

array(['LinkedIn Data Extractor', 'It Management Intern',
       'SQL Database Developer', 'Business Intelligence Developer',
       'Web Developer - Internship',
       'Research Analyst for Business Subjects (Office Based + Night Shift)',
       'Performance Marketing Intern', 'Sr. SDET Engineer',
       'Associate Engineer', 'Fresh Graduate Engineers',
       'Fraud Monitoring Officer', 'Business System Analyst',
       'Research Analyst - Finance', 'HR Intern',
       'Alfa Origin is looking for sales and HR Intern',
       'Sales Operations Specialist', 'ASO Internee',
       'Trainee R&D Engineer', 'Dotnet+React Developer',
       'Business Development Executive (REMOTE) up to A$2,500/month'],
      dtype=object)

In [33]:
len(df_3['Job Title'].unique())

6444

In [34]:
len(df_3)-len(df_3['Job Title'].unique())

5300

In [40]:
df_3['Job Title'].value_counts()[:50]

Job Title
Sales Executive                                                   142
Business Development Executive                                    135
Sales Specialist                                                   76
Business Development Manager                                       71
Business Development Specialist                                    63
Graphic Designer                                                   58
Web Back-End Developer                                             57
Software Engineer                                                  56
Customer Service Representative                                    55
Salesperson                                                        50
Full Stack Engineer                                                47
Senior Software Engineer                                           45
Sales And Marketing Specialist                                     40
Wordpress Developer                                                38
Call Center Representative                                         37
PHP Developer                                                      36
Customer Sales Representative                                      35
Sales Development Representative                                   35
Search Engine Optimization Specialist                              33
Dotnet Developer                                                   33
Educational Counselor                                              32
Business Development Officer                                       32
Digital Marketing Specialist                                       32
Video Editor                                                       31
International Sales Executive                                      30
Upwork Bidder                                                      28
Sales Manager                                                      28
Shopify Developer                                                  27
Back End Developer                                                 27
Social Media Manager                                               27
Lead Software Engineer, Trilogy (Remote) - $100,000/year USD       27
Senior Software Engineer, Trilogy (Remote) - $100,000/year USD     25
Android Developer                                                  25
DevOps Engineer                                                    25
Senior Audit Manager, Trilogy (Remote) - $100,000/year USD         23
Senior Dotnet Developer                                            23
Unity Developer                                                    23
Web Backend Developer                                              22
Content Writer                                                     22
Social Media Marketing Specialist                                  22
Area Sales Manager                                                 21
Web Developer                                                      21
Full Stack Developer                                               20
Telesales Representative                                           20
Admissions Officer                                                 20
Animator                                                           20
Senior Sales Executive                                             20
Data Analyst                                                       20
Assistant Manager Sales                                            20
Valuation Manager                                                  19
Name: count, dtype: int64

In [56]:
# 'Sr.SDET.Engineer'.split()
# 'LinkedIn Data Extractor'.split()
# len('LinkedIn Data Extractor'.split())

In [55]:
# n_elements=[]
# for title in df_3['Job Title'].iloc[:10]:
    # print(title)
    # print(len(title.split()))
    # # print(len(title))

In [59]:
n_elements=[]
for title in df_3['Job Title'].iloc[:]:
    n_elements.append(len(title.split()))

In [61]:
n_elements
len(n_elements)

11744

In [62]:
set(n_elements)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 22,
 24,
 34,
 35}

df_3['N_elmnts_Job_Title'] = n_elements
warning:
See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
df_3['N_elmnts_Job_Title'] = n_elements

In [66]:
df_3.loc[:, 'N_elmnts_Job_Title'] = n_elements

In [68]:
df_3.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info',
       'N_elmnts_Job_Title'],
      dtype='object')

In [70]:
df_3['N_elmnts_Job_Title'].unique()

array([ 3,  4, 10,  2,  9,  7,  8,  5,  6,  1, 11, 15, 12, 14, 19, 13, 17,
       20, 22, 16, 35, 34, 18, 24], dtype=int64)

In [71]:
len(df_3['N_elmnts_Job_Title'].unique())

24

In [72]:
df_3['N_elmnts_Job_Title'].value_counts()

N_elmnts_Job_Title
3     3789
2     2960
4     1674
5      873
8      679
6      524
7      441
1      310
9      239
10     106
11      73
12      20
13      16
15      10
14       7
17       5
19       4
16       4
35       4
20       2
22       1
34       1
18       1
24       1
Name: count, dtype: int64

In [74]:
df_3[df_3['N_elmnts_Job_Title']==1]

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info,N_elmnts_Job_Title
258,Host,Saylani Welfare International Trust Official ·...,Full-time,https://www.linkedin.com/jobs/view/3727012297,"5,001-10,000 employees",3727012297,https://www.linkedin.com/jobs/view/3727012297,About the job\n \n\n \nHostfor our ...,Non-profit Organizations\n \n ...,1
330,Proofreader,"WebNike · Karāchi, Sindh, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3728017516,51-200 employees,3728017516,https://www.linkedin.com/jobs/view/3728017516,About the job\n \n\n \nCompany Desc...,"Technology, Information and Internet\n ...",1
480,Closer,"Digital Media Line · Lahore District, Punjab, ...",Full-time,https://www.linkedin.com/jobs/view/3727014763/...,11-50 employees,3727014763,https://www.linkedin.com/jobs/view/3727014763,About the job\n \n\n \nSEO Sales Cl...,Advertising Services\n \n ...,1
549,Dispatcher,"Horyzon Zero Services · Karachi Division, Sind...",Full-time,https://www.linkedin.com/jobs/view/3689891560/...,11-50 employees,3689891560,https://www.linkedin.com/jobs/view/3689891560,About the job\n \n\n \nThe ideal ca...,Business Consulting and Services\n ...,1
551,Accountant,"Z.S corporation · Karāchi, Sindh, Pakistan (On...",Full-time,https://www.linkedin.com/jobs/view/3728150399/...,Zuhad khan is hiring for this job,3728150399,https://www.linkedin.com/jobs/view/3728150399,About the job\n \n\n \nThe ideal ca...,NaN,1
...,...,...,...,...,...,...,...,...,...,...
26505,Researcher,"Market Pro · Lahore, Punjab, Pakistan \n1 wee...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767388098,11-50 employees,3767388098,https://www.linkedin.com/jobs/view/3767388098,About the job\n \n \nWe are looking...,Advertising Services\n \n ...,1
27073,Designer,rehandesigns · Pakistan \n1 week ago\n\n · 34...,Remote\n\n \nPart-time,https://www.linkedin.com/jobs/view/3767391951,Rehan Shahid is hiring for this job,3767391951,https://www.linkedin.com/jobs/view/3767391951,About the job\n \n \nCompany Descri...,NaN,1
27147,区域市场经理,Pfizer · APAC Reposted \n1 week ago\n\n · 173...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3765113061,"10,001+ employees · Pharmaceutical Manufacturing",3765113061,https://www.linkedin.com/jobs/view/3765113061,About the job\n \n \n主要工作和任务整合分析区域市...,Pharmaceutical Manufacturing\n \n ...,1
27478,Cleaner,"International Medical Corps · Islamabad, Islām...",Full-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3771892591,"5,001-10,000 employees · Non-profit Organizations",3771892591,https://www.linkedin.com/jobs/view/3771892591,About the job\n \n \nJob Summary: T...,Non-profit Organizations\n \n ...,1
27622,Courses,"MANSOL HAB SKP · Sheikhupura District, Punjab,...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3766604959,"5,001-10,000 employees",3766604959,https://www.linkedin.com/jobs/view/3766604959,About the job\n \n \nCompany Descri...,Savings Institutions\n \n ...,1

In [75]:
df_3[df_3['N_elmnts_Job_Title']==1]['Job Title'].unique()

array(['Host', 'Proofreader', 'Closer', 'Dispatcher', 'Accountant',
       'Salesperson', 'Illustrator', 'Architect', 'Videographer',
       'Copywriter', 'Animator', 'Associate', 'Actuary', 'Operator',
       'Driller', 'Principal', 'Storyteller', 'Teachers', 'Veterinarian',
       'Registrar', 'Supervisor', 'Teacher', 'Consultant', 'Draftsman',
       'Pharmacist', 'Cook', 'SQA', 'Cameraman', 'Artist', 'Course',
       'Model', 'Recruiter', 'Technician', 'CSE', 'MTO', 'Receptionist',
       'Engineer', 'Waiter-(H-171-03)', 'Manager', 'QS-Site',
       'Gynecologist', 'Telemarketer', 'Partner', 'phlebotomist/Rider',
       'Driver', 'Assistant', 'Officer', 'Prosecutor', 'Intern',
       'Paraplanner', 'Lecturer', 'Entrepreneur', 'Phlebotomist',
       'Administrator', 'Bookkeeper', 'Controller', 'Booker',
       'Agronomist', 'Amazon', 'NLE', 'Verifier', 'Specialist',
       'Histopathologist', 'Freelance', 'Volunteers', 'Tutor', 'Nurse',
       'Merchandiser', 'Vue.JS', 'Verifiers', 'Curator', 'Rider',
       'Sponsor', 'Asset', 'Bidder', 'Volunteer', 'Professor', 'Teller',
       'Writer', 'Coordinator', 'Sonographer', 'BDE', 'Cashier',
       'Business', 'Esthetician', 'Electrician', 'Seller',
       'Barista(H-249)', 'Buyer', 'Other', 'Writting', 'Babysitter',
       'Physiotherapist', 'BOM', 'Cook/waiter', 'Dropshipping', 'Porter',
       'Respsnest', 'Mechanic', 'ASM', 'Housekeeper', 'Developer',
       'Typist', 'Psychologist', 'Cleaner', 'Designer',
       'Storekeeper-E&ME', 'Auditor', 'Scriptwriter', 'Reporter',
       'Academic', 'Counselor', 'Painter', 'Instructor', 'Researcher',
       'Investigator', 'Executive', 'Cook,', 'AADM', 'Shareholder',
       '区域市场经理', 'Courses'], dtype=object)

In [76]:
len(df_3[df_3['N_elmnts_Job_Title']==1]['Job Title'].unique())

122

In [78]:
df_3[df_3['N_elmnts_Job_Title']==1]['Job Title'].value_counts()[:50]

Job Title
Salesperson       50
Animator          20
Accountant        14
Closer            11
Videographer      11
Dispatcher         8
Teacher            8
Assistant          7
Manager            6
Consultant         6
Proofreader        6
Associate          5
Verifier           5
Receptionist       5
Architect          4
Recruiter          4
Merchandiser       4
Executive          4
Intern             4
Bidder             4
Designer           3
Cleaner            3
Copywriter         3
Officer            2
BDE                2
Driver             2
Developer          2
Telemarketer       2
Entrepreneur       2
Bookkeeper         2
Freelance          2
Host               2
Researcher         2
Pharmacist         2
Illustrator        2
Storyteller        2
Driller            2
Supervisor         2
Operator           2
Babysitter         1
Writting           1
Shareholder        1
Other              1
Buyer              1
Barista(H-249)     1
Scriptwriter       1
BOM                1
Seller             1
Electrician        1
Esthetician        1
Name: count, dtype: int64

In [80]:
list(df_3[df_3['N_elmnts_Job_Title']==1]['Job Title'].value_counts()[:50].keys())

['Salesperson',
 'Animator',
 'Accountant',
 'Closer',
 'Videographer',
 'Dispatcher',
 'Teacher',
 'Assistant',
 'Manager',
 'Consultant',
 'Proofreader',
 'Associate',
 'Verifier',
 'Receptionist',
 'Architect',
 'Recruiter',
 'Merchandiser',
 'Executive',
 'Intern',
 'Bidder',
 'Designer',
 'Cleaner',
 'Copywriter',
 'Officer',
 'BDE',
 'Driver',
 'Developer',
 'Telemarketer',
 'Entrepreneur',
 'Bookkeeper',
 'Freelance',
 'Host',
 'Researcher',
 'Pharmacist',
 'Illustrator',
 'Storyteller',
 'Driller',
 'Supervisor',
 'Operator',
 'Babysitter',
 'Writting',
 'Shareholder',
 'Other',
 'Buyer',
 'Barista(H-249)',
 'Scriptwriter',
 'BOM',
 'Seller',
 'Electrician',
 'Esthetician']