In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-09-Oct-2023_4214-jobs_181-pages.csv')
df

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees"
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development"
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ..."
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting

In [7]:
df_=pd.read_csv('Files used in current analysis/Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-26-Nov-2023_15947-jobs_685-pages.csv')
df_

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...
15942,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
15944,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
15945,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
15946,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [8]:
df_1=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-26-Nov-2023_15875-jobs_685-pages.csv')
df_1

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking"
15871,Release Support Engineer,Turing · Pakistan Reposted \n1 week ago,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3766809535,"1,001-5,000 employees · IT Services and IT Con..."
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees

In [9]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_['Job ID']=df_['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_1['Job ID']=df_1['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [10]:
df_2=df_[df_['Job ID'].isin(df['Job ID'])]
df_2

,Job Link,Job Desception,Company Info,Job ID
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...,3727054368
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...,3723395858
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...,3727034665
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...,3727029273
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN,3727034696
...,...,...,...,...
15679,https://www.linkedin.com/jobs/view/3729723124,About the job\n \n \nJob Responsibi...,Software Development\n \n ...,3729723124
15681,https://www.linkedin.com/jobs/view/3537348803,About the job\n \n \nLOCATION: Jara...,NaN,3537348803
15766,https://www.linkedin.com/jobs/view/3661745501,About the job\n \n \nAbout Us:CureM...,Software Development\n \n ...,3661745501
15776,https://www.linkedin.com/jobs/view/3728757956,About the job\n \n \nAbout the role...,Book and Periodical Publishing\n \n...,3728757956
15915,https://www.linkedin.com/jobs/view/3734537706,About the job\n \n \nPosition Title...,Internet Marketplace Platforms\n \n...,3734537706

In [11]:
df_3=pd.merge(df,df_,on='Job ID',how='inner')
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7270,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [12]:
# why df3 have 7272 rows

In [13]:
# df3=df[df['Job ID']==df_['Job ID']]
# df3
# ValueError: Can only compare identically-labeled Series objects

In [14]:
df_2.drop_duplicates(subset=['Job ID']).shape

(3623, 4)

In [15]:
df.drop_duplicates(subset=['Job ID']).shape

(3623, 6)

In [16]:
df_3.drop_duplicates(subset=['Job ID']).shape

(3623, 9)

In [17]:
df.isnull().sum()

Job Title    54
Job Info     54
Job Type     54
Job Link      0
employees    54
Job ID        0
dtype: int64

In [18]:
df_3.isnull().sum()

Job Title          67
Job Info           67
Job Type           67
Job Link_x          0
employees          67
Job ID              0
Job Link_y          0
Job Desception    104
Company Info      915
dtype: int64

In [19]:
df_3.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info'],
      dtype='object')

In [20]:
df.dropna(inplace=True)
df_1.dropna(inplace=True)
df_3.dropna(subset=['Job Title','Job Info','Job Type','employees'],inplace=True) # i want to delete specific columns

In [21]:
# df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [22]:
df = df.drop_duplicates(subset=['Job ID'])
df_1=df_1.drop_duplicates(subset=['Job ID'])
df_2=df_2.drop_duplicates(subset=['Job ID'])
df_3=df_3.drop_duplicates(subset=['Job ID'])

In [23]:
df.shape,df_1.shape,df_2.shape,df_3.shape

((3573, 6), (11744, 6), (3623, 4), (3573, 9))

In [24]:
df_2

,Job Link,Job Desception,Company Info,Job ID
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...,3727054368
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...,3723395858
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...,3727034665
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...,3727029273
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN,3727034696
...,...,...,...,...
4210,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...,3734517227
4211,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...,3730554639
4212,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...,3731001750
4213,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St...",3736179533
4214,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...,3731006178

In [25]:
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [26]:
df_4=df_4=df_3.dropna(subset=['Job Desception'])
df_4

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [27]:
df_4.shape

(3542, 9)

In [28]:
df_4_uncomplete_desc_IDs=[]
for i in range(0,len(df_4.iloc[:])):
    if len(df_4.iloc[i]['Job Desception'])<20:
        df_4_uncomplete_desc_IDs.append(df_4.iloc[i]['Job ID'])

In [29]:
df_4_uncomplete_desc_IDs
len(df_4_uncomplete_desc_IDs)

66

In [30]:
df_4_uncomp_desc=df_4[df_4['Job ID'].isin(df_4_uncomplete_desc_IDs)]
df_4_uncomp_desc

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
93,Digital Marketing Strategist and Planner,Prime Human Resource Services (Pvt) Ltd · Karā...,Full-time,https://www.linkedin.com/jobs/view/3727011545,"10,001+ employees",3727011545,https://www.linkedin.com/jobs/view/3727011545,About the job,NaN
265,Software Engineer-Integration,People (Professional Employers Pvt Ltd) · Isla...,Full-time,https://www.linkedin.com/jobs/view/3727002795,"5,001-10,000 employees",3727002795,https://www.linkedin.com/jobs/view/3727002795,About the job,NaN
651,DevOps Engineer,"TecBrix · Lahore, Punjab, Pakistan (Remote) \...",Full-time,https://www.linkedin.com/jobs/view/3727012776/...,11-50 employees,3727012776,https://www.linkedin.com/jobs/view/3727012776,About the job,NaN
692,Real Estate Sales Agent,"Fajar Real Estate · Lahore, Punjab, Pakistan (...",Full-time,https://www.linkedin.com/jobs/view/3727005694/...,11-50 employees,3727005694,https://www.linkedin.com/jobs/view/3727005694,About the job,NaN
699,Google Ads Specialist,"RT WEB Solutions · Lahore District, Punjab, Pa...",Full-time,https://www.linkedin.com/jobs/view/3727058923/...,11-50 employees,3727058923,https://www.linkedin.com/jobs/view/3727058923,About the job,NaN
...,...,...,...,...,...,...,...,...,...
6375,Junior PR Specialist (Remote Internship – Publ...,"TalentKompass Deutschland · Islamabad, Islāmāb...",Full-time,https://www.linkedin.com/jobs/view/3729322244,1-10 employees · Human Resources Services,3729322244,https://www.linkedin.com/jobs/view/3729322244,About the job,NaN
6729,React Native Developer,FabLearner · Pakistan (Remote) \n4 days ago,Full-time,https://www.linkedin.com/jobs/view/3734243297,11-50 employees,3734243297,https://www.linkedin.com/jobs/view/3734243297,About the job,NaN
6733,Finance Manager,"Four Elements Landscaping · Islamabad, Islāmāb...",Full-time,https://www.linkedin.com/jobs/view/3734234918,See how you compare to 305 applicants. Reactiv...,3734234918,https://www.linkedin.com/jobs/view/3734234918,About the job,NaN
6960,IT Project Manager,"S&P Global · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3736407961,"10,001+ employees · Financial Services",3736407961,https://www.linkedin.com/jobs/view/3736407961,About the job,NaN
7169,Talent Acquisition Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n4 days...",Hybrid\n\n \nFull-time\n\n \nAssociate,https://www.linkedin.com/jobs/view/3736472247,51-200 employees · IT Services and IT Consulting,3736472247,https://www.linkedin.com/jobs/view/3736472247,About the job,NaN

In [31]:
df_5=df_4.drop(df_4_uncomp_desc.index)
df_5

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [32]:
3542-66

3476

### on the based of Job descriptions

#### using tools keywords

In [73]:
it_tech_pattern1 = 'Wordpress|dotnet|.net|Python|flutter|unity|html|javascript|java|Nodejs|Node.js|Reactjs|React.js|SQL'
it_tech_pattern2 = '|c++|MERN|php|angular|Front End|Front-End|Back End|Back-End|Full Stack|Block chain|web3.o|oracle|desktop'
it_tech_pattern3 = '|UI/UX|github|MS office|Microsoft|AWS|sharepoint|Canva|Sales force|Django|Flask|Unreal Engine'
it_tech_pattern4 = '|Social Media|FaceBook|Face Book|YouTube|You Tube|Fiverr|Upwork|Adobe'

it_tech_pattern=it_tech_pattern1+it_tech_pattern2+it_tech_pattern3+it_tech_pattern4
it_tech_pattern

'Wordpress|dotnet|.net|Python|flutter|unity|html|javascript|java|Nodejs|Node.js|Reactjs|React.js|SQL|c++|MERN|php|angular|Front End|Front-End|Back End|Back-End|Full Stack|Block chain|web3.o|oracle|desktop|UI/UX|github|MS office|Microsoft|AWS|sharepoint|Canva|Sales force|Django|Flask|Unreal Engine|Social Media|FaceBook|Face Book|YouTube|You Tube|Fiverr|Upwork|Adobe'

In [74]:
case=False
filtered_df = df_5[df_5['Job Desception'].str.contains(it_tech_pattern, case)]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

***why there are 3464 jobs by tools***

In [78]:
it_tech_keywords = ['Wordpress', 'dotnet', '.net', 'Python', 'flutter', 'unity', 'html', 'javascript', 'java', 'Nodejs', 'Node.js', 'Reactjs', 'React.js', 'SQL',
                    'c++', 'MERN', 'php', 'angular', 'Front End', 'Front-End', 'Back End', 'Back-End', 'Full Stack', 'Block chain', 'web3.o', 'oracle', 'desktop',
                    'UI/UX', 'github', 'MS office', 'Microsoft', 'AWS', 'sharepoint', 'Canva', 'Sales force', 'Django', 'Flask', 'Unreal Engine',
                    'Social Media', 'FaceBook', 'Face Book', 'YouTube', 'You Tube', 'Fiverr', 'Upwork', 'Adobe']
it_tech_keywords
len(it_tech_keywords)
filtered_df = df_5[df_5['Job Desception'].apply(lambda desc: any(keyword.lower() in desc.lower() for keyword in it_tech_keywords))]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
6,Performance Marketing Intern,"8th Loop · Karāchi, Sindh, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3727056183,11-50 employees,3727056183,https://www.linkedin.com/jobs/view/3727056183,About the job\n \n\n \nJob Position...,Advertising Services\n \n ...
7,Sr. SDET Engineer,"Afiniti · Peshawar, Khyber Pakhtunkhwa, Pakist...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3631034202,"1,001-5,000 employees · Software Development",3631034202,https://www.linkedin.com/jobs/view/3631034202,About the job\n \n\n \nWho are we? ...,Software Development\n \n ...
...,...,...,...,...,...,...,...,...,...
7264,Senior Java Software Engineer,"AdMaxim Inc. · Lahore, Punjab, Pakistan \n4 d...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734722483,51-200 employees,3734722483,https://www.linkedin.com/jobs/view/3734722483,About the job\n \n\n \nLooking for ...,Advertising Services\n \n ...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

***but in actual there are 2387 jobs***

#### using commen keywords used in IT and Tech

Software|Computer|Digital|Programming|Data|Freelance|Web|

In [46]:
it_tech_pattern='Software|Computer|Digital|Programming|Data|Freelance|Web'
case=False
filtered_df = df_5[df_5['Job Desception'].str.contains(it_tech_pattern, case)]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [57]:
it_tech_keywords = ['Software', 'Computer', 'Digital', 'Programming', 'Data', 'Freelance','Web']
filtered_df = df_5[df_5['Job Desception'].apply(lambda desc: any(keyword in desc for keyword in it_tech_keywords))]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
7,Sr. SDET Engineer,"Afiniti · Peshawar, Khyber Pakhtunkhwa, Pakist...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3631034202,"1,001-5,000 employees · Software Development",3631034202,https://www.linkedin.com/jobs/view/3631034202,About the job\n \n\n \nWho are we? ...,Software Development\n \n ...
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [58]:
# df_5.iloc[0]['Job Desception']
# df_5.iloc[0]['Job Desception'].lower()

In [59]:
it_tech_keywords = ['Software', 'Computer', 'Digital', 'Programming', 'Data', 'Freelance','Web']
filtered_df = df_5[df_5['Job Desception'].apply(lambda desc: any(keyword.lower() in desc.lower() for keyword in it_tech_keywords))]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [62]:
it_tech_pattern='Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email|Virtual|video|technology|ecommerce|network'
case=False
filtered_df = df_5[df_5['Job Desception'].str.contains(it_tech_pattern, case)]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

Software:1325
Software|Computer:1661
Software|Computer|Digital:2017
Software|Computer|Digital|Programming:2077
Software|Computer|Digital|Programming|Data:2440
Software|Computer|Digital|Programming|Data|Freelance:2461
Software|Computer|Digital|Programming|Data|Freelance|Web:2541
Software|Computer|Digital|Programming|Data|Freelance|Web|app:3002
Software|Computer|Digital|Programming|Data|Freelance|Web|cloud:2551
Software|Computer|Digital|Programming|Data|Freelance|Web|cloud|graphic:2578
Software|Computer|Digital|Programming|Data|Freelance|Web|cloud|graphic|Game:2589
Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology:2591
Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile:2610
Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email:2697
Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email|Virtual:2703

Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email|Virtual|video:2720

Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email|Virtual|video|technology:2761

Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email|Virtual|video|technology|ecommerce:2764

Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email|Virtual|video|technology|ecommerce|network:2840

app itself have 2350 jobs

In [81]:
it_tech_keywords= ['Software', 'Computer', 'Digital', 'Programming', 
                   'Data', 'Freelance', 'Web', 'Cloud', 'Graphic', 
                   'Game', 'Information technology', 'Mobile', 'Email', 
                   'Virtual', 'video', 'technology', 'ecommerce', 'network']
it_tech_keywords
len(it_tech_keywords)

filtered_df = df_5[df_5['Job Desception'].apply(lambda desc: any(keyword.lower() in desc.lower() for keyword in it_tech_keywords))]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [66]:
it_tech_pattern='technical recruiter'
filtered_df_technical_recruiter = filtered_df[filtered_df['Job Desception'].str.contains(it_tech_pattern, case)]
filtered_df_technical_recruiter

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
2031,Talent Acquisition Specialist (Technical Recru...,"MobiTising Inc · Karāchi, Sindh, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3673688362,11-50 employees,3673688362,https://www.linkedin.com/jobs/view/3673688362,About the job\n \n\n \n🚀 Recruiter ...,Marketing Services\n \n ...
4689,Technical Recruiter,"Ropstam Solutions Inc. · Islamabad, Islāmābād,...",Full-time,https://www.linkedin.com/jobs/view/3731272798,51-200 employees,3731272798,https://www.linkedin.com/jobs/view/3731272798,About the job\n \n\n \nJob Descript...,IT Services and IT Consulting\n \n ...
6290,Talent Success Manager,Remotebase · Pakistan (Remote) \n6 days ago\n...,Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3734617336,51-200 employees · IT Services and IT Consulting,3734617336,https://www.linkedin.com/jobs/view/3734617336,About the job\n \n\n \nRemotebase i...,IT Services and IT Consulting\n \n ...

***It have only three jobs of technical recruiter***

In [67]:
it_tech_pattern='technical recruiter'
df_5_technical_recruiter = df_5[df_5['Job Desception'].str.contains(it_tech_pattern, case)]
df_5_technical_recruiter

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
2031,Talent Acquisition Specialist (Technical Recru...,"MobiTising Inc · Karāchi, Sindh, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3673688362,11-50 employees,3673688362,https://www.linkedin.com/jobs/view/3673688362,About the job\n \n\n \n🚀 Recruiter ...,Marketing Services\n \n ...
4689,Technical Recruiter,"Ropstam Solutions Inc. · Islamabad, Islāmābād,...",Full-time,https://www.linkedin.com/jobs/view/3731272798,51-200 employees,3731272798,https://www.linkedin.com/jobs/view/3731272798,About the job\n \n\n \nJob Descript...,IT Services and IT Consulting\n \n ...
6290,Talent Success Manager,Remotebase · Pakistan (Remote) \n6 days ago\n...,Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3734617336,51-200 employees · IT Services and IT Consulting,3734617336,https://www.linkedin.com/jobs/view/3734617336,About the job\n \n\n \nRemotebase i...,IT Services and IT Consulting\n \n ...

### on the based of Job Titles

In [43]:
it_tech_pattern='Software|Computer|Digital|Programming|Data|Freelance|Web|Cloud|Graphic|Game|Information technology|Mobile|Email|Virtual|video|technology|ecommerce|network'
case=False
filtered_df = df_5[df_5['Job Title'].str.contains(it_tech_pattern, case)]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
86,Web Designer,"Logicose · Karāchi, Sindh, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3725785529,"501-1,000 employees",3725785529,https://www.linkedin.com/jobs/view/3725785529,About the job\n \n\n \nCompany Desc...,IT Services and IT Consulting\n \n ...
95,Software Engineer,"Jin Technologies Private Limited · Islamabad, ...",Full-time,https://www.linkedin.com/jobs/view/3727035963,51-200 employees,3727035963,https://www.linkedin.com/jobs/view/3727035963,About the job\n \n\n \nFor our offi...,IT Services and IT Consulting\n \n ...
...,...,...,...,...,...,...,...,...,...
7204,"Senior Software Engineer, Trilogy (Remote) - $...","Crossover · Rawalpindi, Punjab, Pakistan Repo...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3731969502,"5,001-10,000 employees · IT Services and IT Co...",3731969502,https://www.linkedin.com/jobs/view/3731969502,About the job\n \n\n \nCrossover is...,IT Services and IT Consulting\n \n ...
7209,Mobile Apps (Xamarin) - Software Developer,"BreakThru · Karāchi, Sindh, Pakistan \n4 days...",Hybrid\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734543086,201-500 employees,3734543086,https://www.linkedin.com/jobs/view/3734543086,About the job\n \n\n \nCollaborate ...,Software Development\n \n ...
7236,Software Engineer .Net & iOS,"Tkxel · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735994551,"501-1,000 employees · IT Services and IT Consu...",3735994551,https://www.linkedin.com/jobs/view/3735994551,About the job\n \n\n \nLooking for ...,IT Services and IT Consulting\n \n ...
7242,Senior Software Engineer - .NET (6-months cont...,"Creative Chaos · Islamabad, Islāmābād, Pakista...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736181147,201-500 employees · Software Development,3736181147,https://www.linkedin.com/jobs/view/3736181147,About the job\n \n\n \nJob SummaryA...,Software Development\n \n ...
7264,Senior Java Software Engineer,"AdMaxim Inc. · Lahore, Punjab, Pakistan \n4 d...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734722483,51-200 employees,3734722483,https://www.linkedin.com/jobs/view/3734722483,About the job\n \n\n \nLooking for ...,Advertising Services\n \n ...

***Why it is so less on the based of job titles***

In [82]:
# it_tech_pattern1 = 'Wordpress|dotnet|.net|Python|flutter|unity|html|javascript|java|Nodejs|Node.js|Reactjs|React.js|SQL'
# it_tech_pattern2 = '|c++|MERN|php|angular|Front End|Front-End|Back End|Back-End|Full Stack|Block chain|web3.o|oracle|desktop'
# it_tech_pattern3 = '|UI/UX|github|MS office|Microsoft|AWS|sharepoint|Canva|Sales force|Django|Flask|Unreal Engine'
# it_tech_pattern4 = '|Social Media|FaceBook|Face Book|YouTube|You Tube|Fiverr|Upwork|Adobe'
# it_tech_pattern=it_tech_pattern1+it_tech_pattern2+it_tech_pattern3+it_tech_pattern4
# it_tech_pattern
# case=False
# filtered_df = df_5[df_5['Job Title'].str.contains(it_tech_pattern, case)]
# filtered_df

it_tech_keywords = ['Wordpress', 'dotnet', '.net', 'Python', 'flutter', 'unity', 'html', 'javascript', 'java', 'Nodejs', 'Node.js', 'Reactjs', 'React.js', 'SQL',
                    'c++', 'MERN', 'php', 'angular', 'Front End', 'Front-End', 'Back End', 'Back-End', 'Full Stack', 'Block chain', 'web3.o', 'oracle', 'desktop',
                    'UI/UX', 'github', 'MS office', 'Microsoft', 'AWS', 'sharepoint', 'Canva', 'Sales force', 'Django', 'Flask', 'Unreal Engine',
                    'Social Media', 'FaceBook', 'Face Book', 'YouTube', 'You Tube', 'Fiverr', 'Upwork', 'Adobe']
it_tech_keywords
len(it_tech_keywords)

filtered_df = df_5[df_5['Job Title'].apply(lambda title: any(keyword.lower() in title.lower() for keyword in it_tech_keywords))]
filtered_df

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
36,Dotnet+React Developer,Macrosoft · Pakistan (Remote) \n2 weeks ago,Full-time,https://www.linkedin.com/jobs/view/3727019337,201-500 employees,3727019337,https://www.linkedin.com/jobs/view/3727019337,About the job\n \n\n \nMacrosoft Pa...,Software Development\n \n ...
97,SQL Database Engineer,"FutureNow Technologies · Lahore, Punjab, Pakis...",Full-time,https://www.linkedin.com/jobs/view/3727034701,"501-1,000 employees",3727034701,https://www.linkedin.com/jobs/view/3727034701,About the job\n \n\n \nCompany Desc...,IT Services and IT Consulting\n \n ...
102,Jr Business Developer (Upwork),"EvolversTech · Lahore, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3727009921,11-50 employees,3727009921,https://www.linkedin.com/jobs/view/3727009921,About the job\n \n\n \nAre you a ta...,Information Technology & Services\n ...
122,Full Stack Developer,"ScaleX · Islamabad, Islāmābād, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3723979436,1-10 employees,3723979436,https://www.linkedin.com/jobs/view/3723979436,About the job\n \n\n \nJob Descript...,Venture Capital and Private Equity Principals\...
...,...,...,...,...,...,...,...,...,...
7236,Software Engineer .Net & iOS,"Tkxel · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735994551,"501-1,000 employees · IT Services and IT Consu...",3735994551,https://www.linkedin.com/jobs/view/3735994551,About the job\n \n\n \nLooking for ...,IT Services and IT Consulting\n \n ...
7242,Senior Software Engineer - .NET (6-months cont...,"Creative Chaos · Islamabad, Islāmābād, Pakista...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736181147,201-500 employees · Software Development,3736181147,https://www.linkedin.com/jobs/view/3736181147,About the job\n \n\n \nJob SummaryA...,Software Development\n \n ...
7256,UI/UX Designer,Tree Top Staffing LLC · APJ \n4 days ago,Remote\n\n \nFull-time,https://www.linkedin.com/jobs/view/3736495475,1-10 employees · Staffing and Recruiting,3736495475,https://www.linkedin.com/jobs/view/3736495475,About the job\n \n\n \nWe are looki...,Staffing and Recruiting\n \n ...
7264,Senior Java Software Engineer,"AdMaxim Inc. · Lahore, Punjab, Pakistan \n4 d...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734722483,51-200 employees,3734722483,https://www.linkedin.com/jobs/view/3734722483,About the job\n \n\n \nLooking for ...,Advertising Services\n \n ...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...

***Why it is so less on the based of job titles***

# Note:
**It should be best practice to have non tech keywords to filter out because it may be chance to have Non IT jobs**

**use all keywords used in IT**

import pandas as pd

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
it_tech_pattern = 'IT|Tech'
filtered_df = df[df['job_title'].str.contains(it_tech_pattern, case=False)]

import pandas as pd

it_tech_keywords = ['IT', 'Tech', 'Information Technology', 'Developer', 'Software Engineer', 'Data Scientist', ...]

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
filtered_df = df[df['job_title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]