In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-09-Oct-2023_4214-jobs_181-pages.csv')
df

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees"
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development"
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ..."
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting

it_tech_pattern = 'IT'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [3]:
df.dropna(inplace=True)

In [4]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [5]:
df = df.drop_duplicates(subset=['Job ID'])

In [6]:
df.shape

(3573, 6)

In [7]:
import pandas as pd
weather_data = {
    'words': ['with', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df2 = pd.DataFrame(weather_data)
df2

   words
0   with
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [8]:
it_tech_pattern = 'IT'
filtered_df2 = df2[df2['words'].str.contains(it_tech_pattern, case=False)]
filtered_df2

  words
0  with

In [9]:
it_tech_pattern = 'sunny'
filtered_df2 = df2[df2['words'].str.contains(it_tech_pattern, case=False)]
filtered_df2

   words
1  Sunny
5  Sunny

it_tech_pattern = ['sunny','IT']
filtered_df2 = df2[df2['words'].str.contains(it_tech_pattern, case=False)]
filtered_df2
TypeError: unhashable type: 'list'

In [10]:
it_tech_pattern = 'sunny|IT'
filtered_df2 = df2[df2['words'].str.contains(it_tech_pattern, case=False)]
filtered_df2

   words
0   with
1  Sunny
5  Sunny

In [11]:
it_tech_pattern = 'sunny|IT|in|sn'
filtered_df2 = df2[df2['words'].str.contains(it_tech_pattern, case=False)]
filtered_df2

   words
0   with
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [12]:
it_tech_keywords = ['IT']

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
filtered_df2 = df2[df2['words'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]
filtered_df2

Empty DataFrame
Columns: [words]
Index: []

In [13]:
it_tech_keywords = ['it','now','Tech', 'Information Technology', 'Developer', 'Software Engineer', 'Data Scientist']

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
filtered_df2 = df2[df2['words'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]
filtered_df2

  words
0  with
2  Snow
3  Snow

In [14]:
it_tech_pattern = 'IT'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df
len(filtered_df)
filtered_df['Job Title'].unique()
len(filtered_df['Job Title'].unique())

374

In [15]:
it_tech_keywords = ['IT','it','It']

filtered_df = df[df['Job Title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]
filtered_df
len(filtered_df)
filtered_df['Job Title'].unique()
len(filtered_df['Job Title'].unique())

374

In [17]:
it_tech_pattern = 'IT'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=True)]
filtered_df
len(filtered_df)
filtered_df['Job Title'].unique()
# len(filtered_df['Job Title'].unique())

array(['IT Jobs', 'SEO Executive (ON-SITE)',
       'Senior Associate - IT Auditor',
       'Team Lead IT Software Development (m/f/d)',
       'IT Data Migration Specialist (m/f/d) - 100% remote',
       'Director IT', 'Manager Customer Facing IT', 'IT Sales Executive',
       'Senior Full-stack Java / Angular Developer - +10 years of IT experience - Full remote - Contractor in USD',
       'IT Support Coordinator Intern', 'IT & Network Administrator',
       'Assistant Manager IT', 'Project Manager - IT Services',
       'Executive IT Infrastructure',
       'Senior Executive IT Infrastructure',
       'Manager IT BP - Digital Channels',
       'Assistant Manager IT Infrastructure',
       'IT Manager - Data Engineer',
       'Assistant Manager IT (Microsoft Dynamics)', 'IT Executive',
       'IT Project Manager', 'Chief Manager - IT Risk'], dtype=object)

In [45]:
it_tech_keywords = ['IT']

filtered_df = df[df['Job Title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]
filtered_df
len(filtered_df)
filtered_df['Job Title'].unique()
len(filtered_df['Job Title'].unique())

22

In [18]:
it_tech_pattern = 'Tech'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
42,Technical Business Analyst,"UHF Solutions Pvt Ltd · Karachi Division, Sind...",Internship,https://www.linkedin.com/jobs/view/3727039702,51-200 employees,3727039702
47,Fintech B2B Marketing Executive,"IMarkPlace · Karachi Division, Sindh, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727001717,11-50 employees,3727001717
124,"Senior Technical Support Engineer, Skyvera (Re...","Crossover · Peshawar, Khyber Pakhtunkhwa, Pak...",Full-time · Entry level,https://www.linkedin.com/jobs/view/3715439728,"5,001-10,000 employees · IT Services and IT Co...",3715439728
155,Technical Recruiter,"HR Force Int. · Lahore, Punjab, Pakistan (On-s...",Full-time · Entry level,https://www.linkedin.com/jobs/view/3727012567,11-50 employees · Human Resources Services,3727012567
176,ERP Technical Support,HR Ways - Hiring Tech Talent · Karachi Divisio...,Full-time,https://www.linkedin.com/jobs/view/3727011223,11-50 employees,3727011223
...,...,...,...,...,...,...
3905,Senior Technical Writer,Pena · Pakistan (Remote) \n3 days ago,Full-time,https://www.linkedin.com/jobs/view/3731030545,1-10 employees,3731030545
3990,Strategic Business Unit – Technical & Business...,Sui Southern Gas Company Limited · Karachi Div...,Contract · Mid-Senior level,https://www.linkedin.com/jobs/view/3735940212,"5,001-10,000 employees · Utilities",3735940212
4014,"Electronic Technician (Sukkur, Pakistan)","SLB · Islamabad, Islāmābād, Pakistan \n4 days...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3730566199,"10,001+ employees · Technology, Information an...",3730566199
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178

In [19]:
filtered_df['Job Title'].unique()
# checking if Teh then it is IT or not

array(['Technical Business Analyst', 'Fintech B2B Marketing Executive',
       'Senior Technical Support Engineer, Skyvera (Remote) - $30,000/year USD',
       'Technical Recruiter', 'ERP Technical Support',
       'Technical Content Writer',
       'ASSISTANT MANAGER COMPLIANCE- INFORMATION TECHNOLOGY',
       'Technical Writer', 'Dynamics 365 F&O Technical Consultant',
       'Technical Customer Support Specialist',
       'Technical Project Manager', 'Cloud Technical Specialist',
       'Technical Project Manager/ Scrum Master',
       'Engineering Technician', 'Radiologic Technologist',
       'Technical Lead - .NET', 'Senior Technical Project Manager',
       'Technical Advisor for Development of Women Entrepreneurship Policy - Islamabad',
       'Technical Product Manager',
       'Senior Technical Support Analyst, Skyvera (Remote) - $30,000/year USD',
       'Technical Advisor Environmental Health - Asia',
       'Technical Sales Representative',
       'Head of Technology and Mechanization - Agri',
       'Technical Team Lead, Trilogy (Remote) - $100,000/year USD',
       'Technical Lead .NET', 'Assistant Manager Technical Sales',
       'Technical Lead',
       'Cardiac Catheterization Laboratory Technologist',
       'Sr Associate Technical Client Support', 'Site Technician',
       'Talent Acquisition Specialist (Technical Recruiter)',
       'Technical Team Lead', 'Project Manager Technical Lead',
       'Technical Delivery Specialist – Microsoft Dynamics 365',
       'Senior Lay Equipment Technician',
       'Technical Lead ML DevOps Engineer',
       'Associate Technical Client Support', 'Tier 1 Support Technician',
       'Chief Technology Officer', 'Technical Support Specialist',
       'Technical Support Engineer, Skyvera (Remote) - $30,000/year USD',
       'Technical VFX Artist',
       'Solar Installation Technician (Project Based)',
       'Endoscopy Technician', 'Lead Technical Support Engineer',
       'Lead Generation Manager, Technology & Data Strategy',
       'Technical Project Manager (Evening Shift)',
       'DM Technical Performance',
       'Technology Consulting- SAP- EAM- Rapid Innovation',
       'Lead Generation Intern ( Technical )', 'Technical Manager',
       'Technical Support - Shopify',
       'Information Technology Business Partner', 'Tech Trainer',
       'Information Technology Functional Partner',
       'Information Technology Help Desk Manager',
       'Senior Technical Content Writer', 'Migration Technical Lead',
       'Pakistan CSA: Agricultural Technology Special',
       'Technical SEO Specialist', 'Laboratory Technician', 'Technician',
       'Plant Technician', 'Assistant Manager Technical Services',
       'Solar Inverter Repair Technician',
       'Fortify Lead Technical Consultant',
       'Information Technology Intern', 'Technical Doc Writer',
       'Technical Support Analyst, Skyvera (Remote) - $20,000/year USD',
       'Technical Support Representative, Skyvera (Remote) - $15,000/year USD',
       'Technical Product Owner, Trilogy (Remote) - $100,000/year USD',
       'Information Technology Sales Executive',
       'Information Technology Project Manager', 'Fintech Developer',
       'Food Technologist', 'MS Dynamics 365 F&O - Technical Architect',
       'Oracle Fusion HCM Consultant (Functional Consultant and Technical Consultant)',
       'Information Technology Support Engineer',
       'Technical Application Specialist - Molecular Diagnosis',
       'Technical Lead Frontend - UI',
       'Project Manager( FinTech) ( Forex Trading)',
       'Fintech Products B2B Marketer (Freelance)', 'Fullstack Tech Lead',
       'Technical Support Engineer, Developer Support',
       'Information Technology Business Analyst',
       'Technical Support Engineer', 'Ariba Techno/Functional Analyst',
       'Microsoft Dynamics 365 Technical Support, Power Platform',
       'Technical Associate Program 2023 - Excellent Opportunity for Fresh Graduates in Pakistan',
       'Trainee Technical Product Support Engineer',
       'Information Technology Coordinator - Sales',
       'Technical Support Executive',
       'Bilingual (French) Support Technician',
       'Technical Support Specialist, Skyvera (Remote) - $15,000/year USD',
       'D365 Technical Consultant', 'Technical Sales Engineer',
       'Commodities Technical Analyst',
       'Technical Specialist, (Peshawar), Pakistan',
       'Technical Lead - Software & AI', 'Technical Proposal Writer',
       'Oracle Fusion Technical Consultant',
       'Non Technical Project Manager',
       'Technical Support Engineer (Solar Inverter + EVCS + Portable Power Station）',
       'Information Technology Security Manager',
       'Senior Technical Writer',
       'Microsoft Dynamics Consultant (Technical)',
       'Strategic Business Unit – Technical & Business Resources',
       'Electronic Technician (Sukkur, Pakistan)',
       'Technical Product Manager (OTE $80,000/year USD), Sparkrock'],
      dtype=object)

In [20]:
it_tech_pattern = 'Information Technology'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
182,ASSISTANT MANAGER COMPLIANCE- INFORMATION TECH...,"HCMS Global · Karachi Division, Sindh, Pakista...",Full-time,https://www.linkedin.com/jobs/view/3727023040,51-200 employees,3727023040
1943,Information Technology Business Partner,"Packages Group · Lahore, Punjab, Pakistan (On-...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3702265210,"5,001-10,000 employees · Packaging and Contain...",3702265210
1990,Information Technology Functional Partner,"Packages Group · Lahore, Punjab, Pakistan (On-...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3702264373,"5,001-10,000 employees · Packaging and Contain...",3702264373
2016,Information Technology Help Desk Manager,"Packages Group · Lahore, Punjab, Pakistan (On-...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3702264798,"5,001-10,000 employees · Packaging and Contain...",3702264798
2495,Information Technology Intern,"SIAR Digital · Karāchi, Sindh, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3732200794,51-200 employees,3732200794
2609,Information Technology Sales Executive,"iLAT Ventures · Karāchi, Sindh, Pakistan (On-s...",Full-time,https://www.linkedin.com/jobs/view/3731996531,1-10 employees,3731996531
2636,Information Technology Project Manager,"TX Dynamics · Lahore District, Punjab, Pakista...",Full-time,https://www.linkedin.com/jobs/view/3732200674,51-200 employees,3732200674
2862,Information Technology Support Engineer,"Hyqoo · Islāmābād, Pakistan (Hybrid) \n1 wee...",Contract · Mid-Senior level,https://www.linkedin.com/jobs/view/3728465734,11-50 employees · IT Services and IT Consulting,3728465734
2869,Information Technology Intern,"Edible Arrangements · Islamabad, Islāmābād, Pa...",Full-time,https://www.linkedin.com/jobs/view/3732842679,"1,001-5,000 employees",3732842679
3068,Information Technology Business Analyst,"Orcalo Holdings · Lahore, Punjab, Pakistan (On...",Full-time,https://www.linkedin.com/jobs/view/3732835057,201-500 employees,3732835057
3224,Information Technology Coordinator - Sales,"Dalda Foods Limited · Islamabad, Islāmābād, Pa...",Full-time · Entry level,https://www.linkedin.com/jobs/view/3734685546,201-500 employees · Food and Beverage Manufact...,3734685546
3843,Information Technology Security Manager,Khushhali Microfinance Bank Limited · Islamaba...,Full-time,https://www.linkedin.com/jobs/view/3734240278,"5,001-10,000 employees",3734240278

In [21]:
it_tech_pattern = 'Tech|Information Technology|Developer|Software Engineer|Data Scientist|Software'
filtered_df = df[df['Job Title'].str.contains(it_tech_pattern, case=False)]
filtered_df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
18,Dotnet+React Developer,Macrosoft · Pakistan (Remote) \n2 weeks ago,Full-time,https://www.linkedin.com/jobs/view/3727019337,201-500 employees,3727019337
20,Artificial Intelligence Developer,"Verticalsols · Multan, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3727001328,11-50 employees,3727001328
...,...,...,...,...,...,...
4194,Senior Software Engineer - .NET (6-months cont...,"Creative Chaos · Islamabad, Islāmābād, Pakista...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736181147,201-500 employees · Software Development,3736181147
4208,Senior Java Software Engineer,"AdMaxim Inc. · Lahore, Punjab, Pakistan \n4 d...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734722483,51-200 employees,3734722483
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178

In [18]:
it_tech_keywords = ['Tech', 'Information Technology', 'Developer', 'Software Engineer', 'Data Scientist','Software']
filtered_df = df[df['Job Title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]
filtered_df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
18,Dotnet+React Developer,Macrosoft · Pakistan (Remote) \n2 weeks ago,Full-time,https://www.linkedin.com/jobs/view/3727019337,201-500 employees,3727019337
20,Artificial Intelligence Developer,"Verticalsols · Multan, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3727001328,11-50 employees,3727001328
...,...,...,...,...,...,...
4194,Senior Software Engineer - .NET (6-months cont...,"Creative Chaos · Islamabad, Islāmābād, Pakista...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736181147,201-500 employees · Software Development,3736181147
4208,Senior Java Software Engineer,"AdMaxim Inc. · Lahore, Punjab, Pakistan \n4 d...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734722483,51-200 employees,3734722483
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178

In [21]:
# 'IT'.lower()

'it'

In [22]:
# 'SQL Database Developer'.lower()

'sql database developer'

In [22]:
it_tech_keywords = ['IT','Tech', 'Information Technology', 'Developer', 'Software Engineer', 'Data Scientist','Software']
filtered_df = df[df['Job Title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]
filtered_df

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696
18,Dotnet+React Developer,Macrosoft · Pakistan (Remote) \n2 weeks ago,Full-time,https://www.linkedin.com/jobs/view/3727019337,201-500 employees,3727019337
20,Artificial Intelligence Developer,"Verticalsols · Multan, Punjab, Pakistan (On-si...",Full-time,https://www.linkedin.com/jobs/view/3727001328,11-50 employees,3727001328
...,...,...,...,...,...,...
4194,Senior Software Engineer - .NET (6-months cont...,"Creative Chaos · Islamabad, Islāmābād, Pakista...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736181147,201-500 employees · Software Development,3736181147
4208,Senior Java Software Engineer,"AdMaxim Inc. · Lahore, Punjab, Pakistan \n4 d...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734722483,51-200 employees,3734722483
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178

In [23]:
filtered_df['Job Title'].unique()

array(['SQL Database Developer', 'Business Intelligence Developer',
       'Web Developer - Internship', 'Dotnet+React Developer',
       'Artificial Intelligence Developer', 'Software Engineer',
       'Junior Business Developer', 'Jr Business Developer (Upwork)',
       'Software Engineer - Product Operation', 'IT Jobs',
       'Technical Business Analyst', 'Full Stack Developer',
       'Python Developer with Data Science Focus', 'Odoo Developer',
       'Web Developer', 'Salesforce Developer',
       'Software Quality Assurance Engineer', 'Senior Software Engineer',
       'SEO Developer',
       'Senior Technical Support Engineer, Skyvera (Remote) - $30,000/year USD',
       'Software Engineer-Integration', 'Python/Django Developer',
       'Technical Recruiter', 'Application Developer',
       'Back End Developer', 'SEO Executive (ON-SITE)',
       'ERP Technical Support', 'Shopify Developer',
       'Technical Content Writer', 'Junior Dotnet Developer',
       'Associate MERN Stack Developer', 'Technical Writer',
       'TV App Developer', 'Dynamics 365 F&O Technical Consultant',
       'Senior Associate - IT Auditor', 'Wordpress Developer',
       'Dotnet Developer', 'PHP Developer Required',
       'AI-Augmented Software Developer, Trilogy (Remote) - $200,000/year USD',
       'Technical Customer Support Specialist', 'Shopify App Developer',
       'Full Stack Dotnet Developer', 'Lead Web Developer',
       'Senior Web Developer', 'Scala Developer',
       'Senior Software Quality Assurance Engineer',
       'Senior Python Developer', 'Technical Project Manager',
       'Software Development Engineer in Test (SDET)',
       'HubSpot Developer', 'MERN Stack Developer',
       'Cloud Technical Specialist', 'Node.JS Developer',
       'Software Developer', 'Software Engineer - Marketing Platform',
       'Full stack Developer (Mid-Level)', '.Net Developer - C# - MVC',
       'Technical Project Manager/ Scrum Master',
       'Engineering Technician', 'Microsoft Dynamics 365 CRM Developer',
       'Trainee iOS Developer', 'Mern Stack Developer',
       'Senior Software Development Project Manager',
       'MERN Stack Developer - ReactJS, NodeJS, Apollo, Graphql & MongoDB',
       'Full Stack Developer (.Net & Angular)', 'Game Developer',
       'Software Quality Assurance Analyst', 'Javascript Developer',
       'mid Lavel Laravel Developer', 'Android Developer',
       'MERN and React Native Developer',
       'Software Architect Lead Developer', 'Node.Js Developer',
       'Senior .NET Developer/Lead', 'Software Engineer (.Net/MVC)',
       'Senior Mern Stack Developer',
       'Senior Full Stack Web Developer (PHP Laravel, VueJS, NodeJS)',
       'Unity Developer', 'Principal Software Engineer',
       'Mobile Application Developer', 'Radiologic Technologist',
       'Senior Software Engineer (.NET/ React Js)', 'Laravel Developer',
       'Angular Developer', 'iOS Developer',
       'Principal Software Engineer Full Stack PHP',
       'Senior MERN STACK Developer', 'Technical Lead - .NET',
       'Sr Flutter Developers', 'Lead Java Developer',
       'Senior Java Software Engineer', 'Senior MERN Stack Developer',
       'Unity  Android Mobile Game Developer', 'Junior iOS Developer',
       'Senior Node JS Developer',
       'Team Lead IT Software Development (m/f/d)',
       'Senior Technical Project Manager',
       'Senior C++ Engineer, GFI Software (Remote) - $100,000/year USD',
       'Lead ReactJS Developer - Web TV Application',
       'Senior React Native Developer', 'Senior PHP Developer',
       'Senior Fullstack Elixir Developer', 'Sr. Angular Developer',
       'Senior Angular Developer', 'Junior Backend Developer (Python)',
       'Frontend Developer', 'Python Developer',
       'AI-Augmented Software Developer, Skyvera (Remote) - $200,000/year USD',
       'Embedded Software Engineer', 'User Interface Developer',
       'Technical Advisor for Development of Women Entrepreneurship Policy - Islamabad',
       'Technical Product Manager', 'Front-End Developer',
       'Principal Software Engineer (khi/lhr/Isl)', 'flutter Developer',
       'Shopify Back End Developer',
       'Full Stack Dotnet Developer with Angular',
       'International Business Trade Developer- Pakistan/Bangladesh',
       'ReactJS Developer',
       'Full Stack Developer with 1.5 Years of Experience',
       'Senior Technical Support Analyst, Skyvera (Remote) - $30,000/year USD',
       'Software Engineer, Skyvera (Remote) - $200,000/year USD',
       'Software/Application Developer', 'Software Engineer (React js)',
       'Technical Advisor Environmental Health - Asia', 'PHP Developer',
       'Technical Sales Representative',
       'Back End Developer, Trilogy (Remote) - $100,000/year USD',
       'Magento Developer',
       'Software Development Engineer, Trilogy (Remote) - $100,000/year USD',
       'Flutter Application Developer',
       'Head of Technology and Mechanization - Agri',
       'Dot Net Core Developer', 'Software House Sales Executive',
       'Technical Team Lead, Trilogy (Remote) - $100,000/year USD',
       'Flutter Developer', 'Technical Lead .NET',
       'PHP Backend Developer',
       'Software Engineer with AI Tooling Expertise, Skyvera (Remote) - $200,000/year USD',
       'Senior MERN Stack Developer | Team Lead',
       'Senior Software Engineering Manager', 'Vue Developer',
       'Assistant Manager Technical Sales', 'React Native Developer',
       'Technical Lead', 'Senior Software Engineer - Node',
       'Senior API Developer',
       'Senior Unity Developer, gt.school (Remote) - $100,000/year USD',
       'Senior React js Developer',
       'Senior Mobile Developer, gt.school (Remote) - $100,000/year USD',
       'Senior Dotnet Developer',
       'Senior C++ Software Engineer, Trilogy (Remote) - $200,000/year USD',
       'Mobile Application Developer (iOS, Swift), gt.school (Remote) - $100,000/year USD',
       'iOS Developer, gt.school (Remote) - $100,000/year USD',
       'Wordpress/PHP Developer With React.js',
       'Senior MEAN/MERN Developer',
       'Cardiac Catheterization Laboratory Technologist',
       'Lead Software Engineer', 'Sr Associate Technical Client Support',
       'Data Scientist', 'Senior Java Developer',
       'Java Software Engineer', 'Software Engineer II- Android',
       'Sr. Software Engineer - OpenSIPS', 'C++ Software Engineer II',
       'Senior Software Developer', 'Azure Full Stack Developer',
       'Full-Stack Web Developer (Django Developer)',
       'Mean Stack Developer', 'MEAN Stack Developer',
       'Senior Backend Developer (Python)',
       'Full Stack Developer (Laravel, My SQL, React JS)',
       'Site Technician', 'Software Engineer - Angular',
       'Senior C++ Software Engineer', 'Blockchain Developer',
       'Software Development Engineer', 'Senior Shopify Developer',
       'Lead Dotnet Developer', 'Bubble.io Developer', 'React Developer',
       'Talent Acquisition Specialist (Technical Recruiter)',
       'Technical Team Lead', 'Vue.Js Developer',
       '🚀 Seeking a Talented Angular Software Developer to Join Our Startup Team!',
       'Enterprise Resources Planning Developer',
       'Webflow Developer and Graphic Designer',
       'Project Manager Technical Lead', 'Junior PHP Laravel Developer',
       'Software Development Team Leader', 'Laravel PHP Developer',
       'Senior React Js Developer',
       'Technical Delivery Specialist – Microsoft Dynamics 365',
       'WordPress Plugin Developer JD', 'Senior Core PHP Developer',
       'PHP/ Wordpress Developer',
       'IT Data Migration Specialist (m/f/d) - 100% remote',
       'Senior Lay Equipment Technician', 'ODOO Software Developer',
       'Mid/Senior Vue and Nuxt.js Developer', 'Software Engineer - iOS',
       'Full-Stack Developer', 'Technical Lead ML DevOps Engineer',
       'Associate Technical Client Support', 'Tier 1 Support Technician',
       'Django Developer', 'Web Developer - WordPress',
       'Chief Technology Officer',
       'Principal Software Quality Assurance Engineer',
       'Front-End Software Engineer', 'Apex Developer',
       'Senior Principal Software Engineer, Trilogy (Remote) - $100,000/year USD',
       'Software Engineer (AI-Powered Development), Trilogy (Remote) - $200,000/year USD',
       'Front End Shopify Developer', 'Senior Full stack Developer',
       'Senior Full-Stack Developer', 'Senior Blockchain Developer',
       'PHP Web Developer',
       'C++ Developer, Trilogy (Remote) - $200,000/year USD',
       'Technical Support Specialist',
       'Unity Game Developer, gt.school (Remote) - $100,000/year USD',
       'Senior Software Architect, Trilogy (Remote) - $100,000/year USD',
       'Chief Software Architect, gt.school (Remote) - $200,000/year USD',
       'Lead Software Engineer, Trilogy (Remote) - $100,000/year USD',
       'Senior Software Engineer, Trilogy (Remote) - $200,000/year USD',
       'Principal Software Engineer, Trilogy (Remote) - $100,000/year USD',
       'Technical Support Engineer, Skyvera (Remote) - $30,000/year USD',
       'Principal Software Architect, gt.school (Remote) - $200,000/year USD',
       'Unity Developer, gt.school (Remote) - $100,000/year USD',
       'Principal Software Engineer, GFI Software (Remote) - $100,000/year USD',
       'Full Stack Developer, Trilogy (Remote) - $100,000/year USD',
       'Technical VFX Artist',
       'Principal Software Engineer, gt.school (Remote) - $100,000/year USD',
       'Senior Developer, Trilogy (Remote) - $100,000/year USD',
       'Senior Software Engineer, Trilogy (Remote) - $100,000/year USD',
       'Experienced Full-Stack Developer with Web Development Experience (Remote Position)',
       'Solar Installation Technician (Project Based)',
       'Endoscopy Technician',
       'Lead Software Engineer, gt.school (Remote) - $200,000/year USD',
       'Senior Software Engineer IV',
       'Senior Software Engineer - Flutter',
       'Lead Technical Support Engineer',
       'Senior Software Engineer (Backend)', 'Java Developer',
       'Unreal Developer', 'Node.js Developer for Lahore and Faisalabad',
       'Senior C++ Software Engineer, GFI Software (Remote) - $100,000/year USD',
       'Senior .Net Developer (Integrations)',
       'Security Software Engineer - Blockchain / Web3',
       'Senior Wordpress Developer',
       'Lead Generation Manager, Technology & Data Strategy',
       'Senior Salesforce Developer', 'Director IT',
       'Software Engineer- Mobile (Android)', 'Software Engineer, QA',
       'Software Engineer Frontend', 'Lead Software Engineer - React JS',
       'Technical Project Manager (Evening Shift)',
       'Angular & NodeJs Developer',
       'Senior Developer (Web & SAP Business One)',
       'Backend Developer Node.js / Nest / Typescript (Karachi)',
       'Backend Developer', 'Senior Web Application Developer',
       'Senior Software Engineer - Ruby on Rails',
       'React-Native Developer', 'Wordpress Plugin Developers',
       'Vue JS Developer', 'Senior Full Stack Developer',
       'DM Technical Performance', 'Associate Software Architect',
       'POWER BI Developer', 'Cross-Platform Mobile Developers M5164',
       'Technology Consulting- SAP- EAM- Rapid Innovation',
       'Lead Generation Intern ( Technical )',
       'Cross-Platform Mobile Developer M5164', 'Technical Manager',
       'Junior Software Quality Assurance Engineer',
       'Full-Stack Back-End-Heavy Developer',
       'Technical Support - Shopify', 'Senior Developer',
       'Power Platform Developer (Remote)', 'Business Developer',
       'Python and PHP Developer',
       'Lead Site Speed Optimization Developer - Front End Engineer',
       'Manager Customer Facing IT', 'Software Project Manager',
       'RPA Developer', 'Information Technology Business Partner',
       'IT Sales Executive', 'WPF Developer', 'Tech Trainer',
       'Information Technology Functional Partner', 'Software Architect',
       'Senior Deep Learning Developer (Text To Speech / TTS)',
       'PHP Developer (laravel and Core PHP)',
       'Information Technology Help Desk Manager',
       'Principal Dotnet Developer', 'C# .NET Software Engineer',
       'Senior Technical Content Writer', 'Senior Frontend Developer',
       'Vuejs Developer', 'Cross Platform Mobile Developer',
       'SAP ABAP Developer', 'Senior Backend Developer',
       'Principal Software Engineer, gt.school (Remote) - $200,000/year USD',
       'Backend Developer (Custom WordPress and Laravel)',
       'Senior Mobile and AI Application Developer',
       'Head of Software Engineering (Python)',
       'Software Engineer - Blockchain / Web3 - APAC',
       'PHP And Laravel Developer',
       'Full-Stack Developer (Node/ Nest/ Typescript/ Rest-API)',
       'Senior Software Engineer (.Net)',
       'Senior Full-stack Java / Angular Developer - +10 years of IT experience - Full remote - Contractor in USD',
       'Migration Technical Lead',
       'Business Development Intern ( Software House)',
       'IT Support Coordinator Intern', 'GitHub Developer',
       'Swift Developer',
       'Drupal Developer - Full remote - Contractor in USD',
       'Java/React Developer',
       'Java / Angular Software Developer - +3 years - Contractor in USD',
       'No Code Developer', 'Software Delivery Engineer',
       'Trainee Laravel Developer',
       'Pakistan CSA: Agricultural Technology Special',
       'Technical SEO Specialist', 'Creative Unity Developer',
       'IT & Network Administrator', 'Associate Flutter Developer',
       'Oracle Apex Developer', 'Laboratory Technician',
       'Software Engineering Manager', 'Technician', 'Plant Technician',
       'Node Js Developer', 'Node Js. Developer',
       'Assistant Manager Technical Services',
       'Mobile Application Developer(React Native)',
       'Senior Back-End Software Engineer', 'VUE JS Front End Developer',
       'PHP Core Developer', 'ASP.NET Senior Lead Developer',
       'Front End Angular Developer', 'Solar Inverter Repair Technician',
       'Senior Salesforce Developer - Architecture',
       'Senior Javascript Developer', 'Senior Android Software Engineer',
       'Senior MEAN Stack Developer', 'Fortify Lead Technical Consultant',
       'Information Technology Intern', 'Senior Data Scientist',
       'Technical Doc Writer',
       'Technical Support Analyst, Skyvera (Remote) - $20,000/year USD',
       'Technical Support Representative, Skyvera (Remote) - $15,000/year USD',
       'Internship For PHP Laravel Developer',
       'Software Engineer - React Native',
       'Principal Software Engineer - Ruby on Rails',
       'Technical Product Owner, Trilogy (Remote) - $100,000/year USD',
       'Principle Software Engineer (Frontend)',
       'Information Technology Sales Executive',
       'Information Technology Project Manager', 'Fintech Developer',
       'Web Application Developer', 'Software Engineer III-Django',
       'Senior IOS Developer, gt.school (Remote) - $100,000/year USD',
       'ServiceNow Developer', 'Food Technologist',
       'Senior Business Developer', 'Assistant Manager IT',
       'MERN/MEAN Developer', 'Software Architect - Python',
       'Software Quality Assurance Manager',
       'MS Dynamics 365 F&O - Technical Architect',
       'Sr. Software Engineer (.NET)',
       'Oracle Fusion HCM Consultant (Functional Consultant and Technical Consultant)',
       'Sr. Python Developer', 'System Software Engineer',
       'Software Engineering Manager, Trilogy (Remote) - $100,000/year USD',
       'Jr. Instructional Designer and Developer',
       'Software Architect, gt.school (Remote) - $100,000/year USD',
       '.NET Developer with Xamarin Experience', 'Unity Game Developer',
       'Project Manager - IT Services',
       'Information Technology Support Engineer',
       'Technical Application Specialist - Molecular Diagnosis',
       'Technical Lead Frontend - UI', 'Executive IT Infrastructure',
       'Senior Executive IT Infrastructure', 'Java Developer (Backend)',
       'Back End Developer Node JS', 'Manager IT BP - Digital Channels',
       'Assistant Manager IT Infrastructure',
       'Senior Software Engineer (Fullstack)',
       'Drupal 9/10 Developer - Full remote - Contractor in USD',
       'ERP Developer (Python / JS / MySQL)',
       'Project Manager( FinTech) ( Forex Trading)',
       'Fullstack Tech Lead', 'Word Press Developer',
       'Technical Support Engineer, Developer Support',
       'Flutter Developer (Contractual)',
       'Full Stack Lead Software Engineer', 'Wordpress Plugin Developer',
       'Information Technology Business Analyst',
       'Senior .Net Core/Angular Developer', 'Senior Nodejs Developer',
       'SQL Developer', 'MicroStrategy Developer',
       'Technical Support Engineer', 'Senior Deep Learning Developer',
       'NetSuite Developer',
       'Software Quality Assurance (Manual) - Pakistan',
       'Node JS Developer',
       'Senior Software Engineer - Java Spring Boot (4-7 years)',
       'Ariba Techno/Functional Analyst', 'Sr.Data Scientist',
       'IT Manager - Data Engineer',
       'Microsoft Dynamics 365 Technical Support, Power Platform',
       'Technical Associate Program 2023 - Excellent Opportunity for Fresh Graduates in Pakistan',
       'Marketo Developer', 'Trainee Technical Product Support Engineer',
       'Information Technology Coordinator - Sales',
       'Technical Support Executive', 'Associate Developer, Java',
       'Oracle Developer', 'Bilingual (French) Support Technician',
       'Full-Stack Cloud Developer', 'Senior Front-End Developer',
       'Software Engineer - .NET & C#', 'Solana Developer',
       'Assistant Manager IT (Microsoft Dynamics)',
       'Technical Support Specialist, Skyvera (Remote) - $15,000/year USD',
       'D365 Technical Consultant',
       'Senior Web Developer (PHP+WordPress)', 'Technical Sales Engineer',
       'Web Application Developer (AR and XML)',
       'Senior PHP/Wordpress Developer', 'Commodities Technical Analyst',
       'Cybersecurity Software Developer', 'Full Stack Developer (PHP)',
       'Technical Specialist, (Peshawar), Pakistan',
       'Business Development Manager (Software Development Services)',
       'PHP/Laravel Developer',
       'Microsoft Dynamics 365 Commerce/Retail CRT Developer (Freelance)',
       'Back-End Developer', 'Senior Software Engineer/Fullstack',
       'Technical Lead - Software & AI', 'Technical Proposal Writer',
       'PHP Laravel Developer', 'Nodejs Developer',
       'Oracle Fusion Technical Consultant', 'SSRS Developer',
       'Senior Mobile Application Developer',
       'WordPress Full Stack Developer', 'Azure Backend Developer',
       'Senior Software Development Engineer in Test - Data Analytics',
       'BI Engineer/Looker Dashboard Developer', 'Python Data Scientist',
       'Software Developer in Test',
       'Senior Integration Developer - Onsite in Dubai', 'IT Executive',
       'Full Stack Developer - Onsite in Dubai',
       'Principal Software Engineer (Backend)',
       'Non Technical Project Manager',
       'Django React Full Stack Developer', 'Jr Android Developer',
       'Lead Full Stack Web Developer', 'Golang Developer',
       'Oracle APEX Developer', 'Software Development  Manager',
       'MERN STACK Developer', 'Drupal Developer',
       'Senior Mobile App Developer', 'Mid - Senior Unity Developer',
       'Senior Software Engineer Team Lead', 'Angular/Node Developer',
       'Senior Dotnet + React Developer', 'Senior Back End Developer',
       'Senior .Net Full Stack Developer', 'Software Test Engineer',
       'Technical Support Engineer (Solar Inverter + EVCS + Portable Power Station）',
       'Remote Software Job | Software Development And Design',
       'Data Scientist Manager', 'Power Platform Developer',
       'Information Technology Security Manager',
       'Senior Software Engineer (AI/Infra)',

import pandas as pd

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
it_tech_pattern = 'IT|Tech'
filtered_df = df[df['job_title'].str.contains(it_tech_pattern, case=False)]

import pandas as pd

it_tech_keywords = ['IT', 'Tech', 'Information Technology', 'Developer', 'Software Engineer', 'Data Scientist', ...]

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
filtered_df = df[df['job_title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]