In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-09-Oct-2023_4214-jobs_181-pages.csv')
df

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
4209,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees"
4210,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development"
4211,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting
4212,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ..."
4213,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting

In [3]:
df_=pd.read_csv('Files used in current analysis/Linkedin_Job-Descriptions-company_details_26-Sep-2023-to-26-Nov-2023_15947-jobs_685-pages.csv')
df_

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...
15942,https://www.linkedin.com/jobs/view/3767355025,About the job\n \n \nThis role is p...,NaN
15943,https://www.linkedin.com/jobs/view/3766809535,About the job\n \n \nA U.S.-based c...,IT Services and IT Consulting\n \n ...
15944,https://www.linkedin.com/jobs/view/3772530977,About the job,NaN
15945,https://www.linkedin.com/jobs/view/3771943212,About the job,NaN
15946,https://www.linkedin.com/jobs/view/3767944844,About the job,NaN

In [4]:
df_1=pd.read_csv('Files used in current analysis/Linkedin_Job_Details_26-Sep-2023-to-26-Nov-2023_15875-jobs_685-pages.csv')
df_1

,Job Title,Job Info,Job Type,Job Link,employees
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job
...,...,...,...,...,...
15870,Manager – Growth Chat & SMS (Digital Marketing),"Bank Alfalah Limited · Karāchi, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3767355025,"5,001-10,000 employees · Banking"
15871,Release Support Engineer,Turing · Pakistan Reposted \n1 week ago,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3766809535,"1,001-5,000 employees · IT Services and IT Con..."
15872,Information Security Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n1 week...",On-site\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3772530977,51-200 employees · IT Services and IT Consulting
15873,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,"Level 3 BOS · Karachi Division, Sindh, Pakista...",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3771943212,201-500 employees · Outsourcing and Offshoring...
15874,Community Associate,"The Hive · Karachi Division, Sindh, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767944844,11-50 employees

In [5]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_['Job ID']=df_['Job Link'].apply(lambda x:int(x.split('/')[5]))
df_1['Job ID']=df_1['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [6]:
df_2=df_[df_['Job ID'].isin(df['Job ID'])]
df_2

,Job Link,Job Desception,Company Info,Job ID
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...,3727054368
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...,3723395858
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...,3727034665
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...,3727029273
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN,3727034696
...,...,...,...,...
15679,https://www.linkedin.com/jobs/view/3729723124,About the job\n \n \nJob Responsibi...,Software Development\n \n ...,3729723124
15681,https://www.linkedin.com/jobs/view/3537348803,About the job\n \n \nLOCATION: Jara...,NaN,3537348803
15766,https://www.linkedin.com/jobs/view/3661745501,About the job\n \n \nAbout Us:CureM...,Software Development\n \n ...,3661745501
15776,https://www.linkedin.com/jobs/view/3728757956,About the job\n \n \nAbout the role...,Book and Periodical Publishing\n \n...,3728757956
15915,https://www.linkedin.com/jobs/view/3734537706,About the job\n \n \nPosition Title...,Internet Marketplace Platforms\n \n...,3734537706

In [7]:
df_3=pd.merge(df,df_,on='Job ID',how='inner')
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7270,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [8]:
# why df3 have 7272 rows

In [9]:
# df3=df[df['Job ID']==df_['Job ID']]
# df3
# ValueError: Can only compare identically-labeled Series objects

In [10]:
df_2.drop_duplicates(subset=['Job ID']).shape

(3623, 4)

In [11]:
df.drop_duplicates(subset=['Job ID']).shape

(3623, 6)

In [12]:
df_3.drop_duplicates(subset=['Job ID']).shape

(3623, 9)

In [13]:
df.isnull().sum()

Job Title    54
Job Info     54
Job Type     54
Job Link      0
employees    54
Job ID        0
dtype: int64

In [14]:
df_3.isnull().sum()

Job Title          67
Job Info           67
Job Type           67
Job Link_x          0
employees          67
Job ID              0
Job Link_y          0
Job Desception    104
Company Info      915
dtype: int64

In [15]:
df_3.columns

Index(['Job Title', 'Job Info', 'Job Type', 'Job Link_x', 'employees',
       'Job ID', 'Job Link_y', 'Job Desception', 'Company Info'],
      dtype='object')

In [16]:
df.dropna(inplace=True)
df_1.dropna(inplace=True)
df_3.dropna(subset=['Job Title','Job Info','Job Type','employees'],inplace=True) # i want to delete specific columns

In [17]:
# df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [18]:
df = df.drop_duplicates(subset=['Job ID'])
df_1=df_1.drop_duplicates(subset=['Job ID'])
df_2=df_2.drop_duplicates(subset=['Job ID'])
df_3=df_3.drop_duplicates(subset=['Job ID'])

In [19]:
df.shape,df_1.shape,df_2.shape,df_3.shape

((3573, 6), (11744, 6), (3623, 4), (3573, 9))

In [20]:
df_2

,Job Link,Job Desception,Company Info,Job ID
0,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...,3727054368
1,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...,3723395858
2,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...,3727034665
3,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...,3727029273
4,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN,3727034696
...,...,...,...,...
4210,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...,3734517227
4211,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...,3730554639
4212,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...,3731001750
4213,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St...",3736179533
4214,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...,3731006178

In [21]:
df_3

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [22]:
df_4=df_4=df_3.dropna(subset=['Job Desception'])
df_4

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [23]:
df_4.shape

(3542, 9)

In [24]:
df_4_uncomplete_desc_IDs=[]
for i in range(0,len(df_4.iloc[:])):
    if len(df_4.iloc[i]['Job Desception'])<20:
        df_4_uncomplete_desc_IDs.append(df_4.iloc[i]['Job ID'])

In [25]:
df_4_uncomplete_desc_IDs
len(df_4_uncomplete_desc_IDs)

66

In [26]:
df_4_uncomp_desc=df_4[df_4['Job ID'].isin(df_4_uncomplete_desc_IDs)]
df_4_uncomp_desc

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
93,Digital Marketing Strategist and Planner,Prime Human Resource Services (Pvt) Ltd · Karā...,Full-time,https://www.linkedin.com/jobs/view/3727011545,"10,001+ employees",3727011545,https://www.linkedin.com/jobs/view/3727011545,About the job,NaN
265,Software Engineer-Integration,People (Professional Employers Pvt Ltd) · Isla...,Full-time,https://www.linkedin.com/jobs/view/3727002795,"5,001-10,000 employees",3727002795,https://www.linkedin.com/jobs/view/3727002795,About the job,NaN
651,DevOps Engineer,"TecBrix · Lahore, Punjab, Pakistan (Remote) \...",Full-time,https://www.linkedin.com/jobs/view/3727012776/...,11-50 employees,3727012776,https://www.linkedin.com/jobs/view/3727012776,About the job,NaN
692,Real Estate Sales Agent,"Fajar Real Estate · Lahore, Punjab, Pakistan (...",Full-time,https://www.linkedin.com/jobs/view/3727005694/...,11-50 employees,3727005694,https://www.linkedin.com/jobs/view/3727005694,About the job,NaN
699,Google Ads Specialist,"RT WEB Solutions · Lahore District, Punjab, Pa...",Full-time,https://www.linkedin.com/jobs/view/3727058923/...,11-50 employees,3727058923,https://www.linkedin.com/jobs/view/3727058923,About the job,NaN
...,...,...,...,...,...,...,...,...,...
6375,Junior PR Specialist (Remote Internship – Publ...,"TalentKompass Deutschland · Islamabad, Islāmāb...",Full-time,https://www.linkedin.com/jobs/view/3729322244,1-10 employees · Human Resources Services,3729322244,https://www.linkedin.com/jobs/view/3729322244,About the job,NaN
6729,React Native Developer,FabLearner · Pakistan (Remote) \n4 days ago,Full-time,https://www.linkedin.com/jobs/view/3734243297,11-50 employees,3734243297,https://www.linkedin.com/jobs/view/3734243297,About the job,NaN
6733,Finance Manager,"Four Elements Landscaping · Islamabad, Islāmāb...",Full-time,https://www.linkedin.com/jobs/view/3734234918,See how you compare to 305 applicants. Reactiv...,3734234918,https://www.linkedin.com/jobs/view/3734234918,About the job,NaN
6960,IT Project Manager,"S&P Global · Islamabad, Islāmābād, Pakistan (O...",Full-time,https://www.linkedin.com/jobs/view/3736407961,"10,001+ employees · Financial Services",3736407961,https://www.linkedin.com/jobs/view/3736407961,About the job,NaN
7169,Talent Acquisition Specialist,"DPL · Islamabad, Islāmābād, Pakistan \n4 days...",Hybrid\n\n \nFull-time\n\n \nAssociate,https://www.linkedin.com/jobs/view/3736472247,51-200 employees · IT Services and IT Consulting,3736472247,https://www.linkedin.com/jobs/view/3736472247,About the job,NaN

In [27]:
df_5=df_4.drop(df_4_uncomp_desc.index)
df_5

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
0,LinkedIn Data Extractor,EcomFleet · Pakistan (Remote) \n1 week ago,Full-time,https://www.linkedin.com/jobs/view/3727054368,11-50 employees,3727054368,https://www.linkedin.com/jobs/view/3727054368,About the job\n \n\n \nAbout Us:We ...,Advertising Services\n \n ...
1,It Management Intern,"Digicon Valley · Lahore, Punjab, Pakistan (On-...",Full-time,https://www.linkedin.com/jobs/view/3723395858,11-50 employees,3723395858,https://www.linkedin.com/jobs/view/3723395858,About the job\n \n\n \nWe are looki...,IT Services and IT Consulting\n \n ...
2,SQL Database Developer,"Murkez Technologies · Lahore, Punjab, Pakistan...",Full-time,https://www.linkedin.com/jobs/view/3727034665,51-200 employees,3727034665,https://www.linkedin.com/jobs/view/3727034665,About the job\n \n\n \nCompany Over...,IT Services and IT Consulting\n \n ...
3,Business Intelligence Developer,"DevNatives · Islamabad, Islāmābād, Pakistan (H...",Full-time,https://www.linkedin.com/jobs/view/3727029273,11-50 employees,3727029273,https://www.linkedin.com/jobs/view/3727029273,About the job\n \n\n \nBI Developer...,IT Services and IT Consulting\n \n ...
4,Web Developer - Internship,"ItCreaters · Lahore, Punjab, Pakistan (On-site...",Full-time,https://www.linkedin.com/jobs/view/3727034696,Mobeen Naqvi is hiring for this job,3727034696,https://www.linkedin.com/jobs/view/3727034696,About the job\n \n\n \nIt is a prog...,NaN
...,...,...,...,...,...,...,...,...,...
7266,Oracle Apps DBA - R12 (Full Customization),"Rozee.pk · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734517227,"501-1,000 employees",3734517227,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
7267,"Engineer, Service-to-Service Fabric",Atlassian · APAC Reposted \n3 days ago\n\n · ...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3730554639,"5,001-10,000 employees · Software Development",3730554639,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
7268,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 144...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731001750,51-200 employees · IT Services and IT Consulting,3731001750,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
7269,Senior IOS Developer,ekar · Pakistan \n4 days ago\n\n · 223 applic...,Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736179533,"51-200 employees · Transportation, Logistics, ...",3736179533,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
7271,"Technical Product Manager (OTE $80,000/year US...",Sparkrock · South Asia \n4 days ago\n\n · 137...,Remote\n\n \nFull-time\n\n \nEntry level,https://www.linkedin.com/jobs/view/3731006178,51-200 employees · IT Services and IT Consulting,3731006178,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

In [28]:
3542-66

3476

#### using commen keywords used in IT and Tech

In [29]:
it_tech_keywords= ['Software Engineer','Software Developer','Software/Application Developer','Software Development',
                   'Software Quality Assurance','Software Architect','Software Project Manager','QA','Software Test Engineer','Software Engineering']
it_tech_keywords
len(it_tech_keywords)

filtered_df_3_title = df_3[df_3['Job Title'].apply(lambda title: any(keyword.lower() in title.lower() for keyword in it_tech_keywords))]
filtered_df_3_title

,Job Title,Job Info,Job Type,Job Link_x,employees,Job ID,Job Link_y,Job Desception,Company Info
95,Software Engineer,"Jin Technologies Private Limited · Islamabad, ...",Full-time,https://www.linkedin.com/jobs/view/3727035963,51-200 employees,3727035963,https://www.linkedin.com/jobs/view/3727035963,About the job\n \n\n \nFor our offi...,IT Services and IT Consulting\n \n ...
103,Software Engineer - Product Operation,"i2c Inc. · Lahore, Punjab, Pakistan (On-site) ...",Full-time,https://www.linkedin.com/jobs/view/3727020559,"1,001-5,000 employees",3727020559,https://www.linkedin.com/jobs/view/3727020559,About the job\n \n\n \ni2c is looki...,Financial Services\n \n ...
141,SOFTWARE DEVELOPER,"360 TECHNOLOGIES · Islamabad, Islāmābād, Pakis...",Full-time,https://www.linkedin.com/jobs/view/3727057491,51-200 employees,3727057491,https://www.linkedin.com/jobs/view/3727057491,About the job\n \n\n \nCompany Desc...,Information Technology & Services\n ...
158,Software Engineer,"Telenor · Islamabad, Islāmābād, Pakistan (On-s...",Full-time · Entry level,https://www.linkedin.com/jobs/view/3723693959,"10,001+ employees · Telecommunications",3723693959,https://www.linkedin.com/jobs/view/3723693959,About the job\n \n\n \nLast day to ...,Telecommunications\n \n ...
171,Software Quality Assurance Engineer,"Brickclay · Faisalabad, Punjab, Pakistan (On-s...",Full-time,https://www.linkedin.com/jobs/view/3727007394,51-200 employees,3727007394,https://www.linkedin.com/jobs/view/3727007394,About the job\n \n\n \nRoles and Re...,Information Technology & Services\n ...
...,...,...,...,...,...,...,...,...,...
7204,"Senior Software Engineer, Trilogy (Remote) - $...","Crossover · Rawalpindi, Punjab, Pakistan Repo...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3731969502,"5,001-10,000 employees · IT Services and IT Co...",3731969502,https://www.linkedin.com/jobs/view/3731969502,About the job\n \n\n \nCrossover is...,IT Services and IT Consulting\n \n ...
7209,Mobile Apps (Xamarin) - Software Developer,"BreakThru · Karāchi, Sindh, Pakistan \n4 days...",Hybrid\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734543086,201-500 employees,3734543086,https://www.linkedin.com/jobs/view/3734543086,About the job\n \n\n \nCollaborate ...,Software Development\n \n ...
7236,Software Engineer .Net & iOS,"Tkxel · Lahore, Punjab, Pakistan \n4 days ago",On-site\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3735994551,"501-1,000 employees · IT Services and IT Consu...",3735994551,https://www.linkedin.com/jobs/view/3735994551,About the job\n \n\n \nLooking for ...,IT Services and IT Consulting\n \n ...
7242,Senior Software Engineer - .NET (6-months cont...,"Creative Chaos · Islamabad, Islāmābād, Pakista...",Remote\n\n \nFull-time\n\n \nMid-Senior level,https://www.linkedin.com/jobs/view/3736181147,201-500 employees · Software Development,3736181147,https://www.linkedin.com/jobs/view/3736181147,About the job\n \n\n \nJob SummaryA...,Software Development\n \n ...
7264,Senior Java Software Engineer,"AdMaxim Inc. · Lahore, Punjab, Pakistan \n4 d...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3734722483,51-200 employees,3734722483,https://www.linkedin.com/jobs/view/3734722483,About the job\n \n\n \nLooking for ...,Advertising Services\n \n ...

In [30]:
# Software_Eng_keywords_all=['Software Engineer','Software Developer','Software/Application Developer','Software Development',
#                            'Software Quality Assurance','Software Architect','Software Project Manager','QA',
#                            'Software Test Engineer','Software Engineering','Software Trainee Engineer',
#                            'Software Document Writer','Software Delivery Engineer','Software Support Manager',
#                            'Product Specialist - Software Solutions',
#                            'Software Services Lead','Software Project Coordinator',
#                            'SDDC Consultant (Software-Defined Data Center)','Software Solutions Architect',
#                            'Hardware/Software Tester','Software Support Engineer', 'Engineering Manager, GFI Software',
#                            'Fellow of GenAI Software Excellence','Pre-Sales Software']
# Software_Eng_keywords_all
# len(Software_Eng_keywords_all)

# filtered_df_3_title = df_3[df_3['Job Title'].apply(lambda title: any(keyword.lower() in title.lower() for keyword in Software_Eng_keywords_all))]
# filtered_df_3_title

In [31]:
filtered_df_3_title['Job Title'].unique()
# len(filtered_df_3_title['Job Title'].unique())

array(['Software Engineer', 'Software Engineer - Product Operation',
       'SOFTWARE DEVELOPER', 'Software Quality Assurance Engineer',
       'Senior Software Engineer', 'Software Engineer-Integration',
       'Professional, QA',
       'AI-Augmented Software Developer, Trilogy (Remote) - $200,000/year USD',
       'Senior Software Quality Assurance Engineer',
       'Software Development Engineer in Test (SDET)',
       'Software Developer', 'Software Engineer - Marketing Platform',
       'Senior QA Engineer',
       'Senior Software Development Project Manager',
       'Software Quality Assurance Analyst',
       'Software Architect Lead Developer',
       'Software Engineer (.Net/MVC)', 'Principal Software Engineer',
       'Senior Software Engineer (.NET/ React Js)',
       'Principal Software Engineer Full Stack PHP',
       'Senior Java Software Engineer',
       'Team Lead IT Software Development (m/f/d)',
       'AI-Augmented Software Developer, Skyvera (Remote) - $200,000/year USD',
       'Embedded Software Engineer',
       'Principal Software Engineer (khi/lhr/Isl)',
       'Software Engineer, Skyvera (Remote) - $200,000/year USD',
       'Software/Application Developer', 'Software Engineer (React js)',
       'Software Development Engineer, Trilogy (Remote) - $100,000/year USD',
       'Hybrid QA for financial software',
       'Software Engineer with AI Tooling Expertise, Skyvera (Remote) - $200,000/year USD',
       'Senior Software Engineering Manager',
       'Senior Software Engineer - Node',
       'Senior C++ Software Engineer, Trilogy (Remote) - $200,000/year USD',
       'Lead Software Engineer', 'Java Software Engineer',
       'Software Engineer II- Android',
       'Sr. Software Engineer - OpenSIPS', 'C++ Software Engineer II',
       'Senior Software Developer', 'Civil Engineers (Roads, QA/QC) QS',
       'Software Engineer - Angular', 'SQA Engineer',
       'Senior C++ Software Engineer', 'Software Development Engineer',
       '🚀 Seeking a Talented Angular Software Developer to Join Our Startup Team!',
       'Software Development Team Leader', 'ODOO Software Developer',
       'Software Engineer - iOS', 'Senior SQA Engineer - Automation',
       'Principal Software Quality Assurance Engineer',
       'SQA Engineer - Mobile', 'Front-End Software Engineer',
       'Senior Principal Software Engineer, Trilogy (Remote) - $100,000/year USD',
       'Software Engineer (AI-Powered Development), Trilogy (Remote) - $200,000/year USD',
       'Senior Software Architect, Trilogy (Remote) - $100,000/year USD',
       'Chief Software Architect, gt.school (Remote) - $200,000/year USD',
       'Lead Software Engineer, Trilogy (Remote) - $100,000/year USD',
       'Senior Software Engineer, Trilogy (Remote) - $200,000/year USD',
       'Principal Software Engineer, Trilogy (Remote) - $100,000/year USD',
       'Principal Software Architect, gt.school (Remote) - $200,000/year USD',
       'Principal Software Engineer, GFI Software (Remote) - $100,000/year USD',
       'Principal Software Engineer, gt.school (Remote) - $100,000/year USD',
       'Senior Software Engineer, Trilogy (Remote) - $100,000/year USD',
       'Lead Software Engineer, gt.school (Remote) - $200,000/year USD',
       'Senior Software Engineer IV',
       'Senior Software Engineer - Flutter', 'Senior SQA Engineer',
       'Senior Software Engineer (Backend)', 'SQA',
       'Senior C++ Software Engineer, GFI Software (Remote) - $100,000/year USD',
       'Security Software Engineer - Blockchain / Web3',
       'Software Engineer- Mobile (Android)', 'Software Engineer, QA',
       'Software Engineer Frontend', 'Lead Software Engineer - React JS',
       'Senior Software Engineer - Ruby on Rails',
       'Associate Software Architect', 'Associate SQA Engineer',
       'Junior Software Quality Assurance Engineer',
       'Software Project Manager', 'Sr.SQA Engineer',
       'Software Architect', 'Hybrid QA for financial software 2',
       'SQA Engineer (Team Lead)', 'C# .NET Software Engineer',
       'Principal Software Engineer, gt.school (Remote) - $200,000/year USD',
       'Head of Software Engineering (Python)',
       'Software Engineer - Blockchain / Web3 - APAC',
       'Senior Software Engineer (.Net)',
       'Java / Angular Software Developer - +3 years - Contractor in USD',
       'QA Engineer', 'Software Engineering Manager',
       'Senior Back-End Software Engineer',
       'Senior Android Software Engineer', 'QA Engineer - Manual',
       'Software Engineer - React Native',
       'Principal Software Engineer - Ruby on Rails',
       'Principle Software Engineer (Frontend)',
       'Software Engineer III-Django', 'QA Engineer - Mobile',
       'Software Architect - Python',
       'Software Quality Assurance Manager',
       'Sr. Software Engineer (.NET)', 'System Software Engineer',
       'Software Engineering Manager, Trilogy (Remote) - $100,000/year USD',
       'Software Architect, gt.school (Remote) - $100,000/year USD',
       'Sr. SQAE Automation', 'Senior Software Engineer (Fullstack)',
       'Full Stack Lead Software Engineer', 'SQA Analyst',
       'Software Quality Assurance (Manual) - Pakistan',
       'Senior Software Engineer - Java Spring Boot (4-7 years)',
       'Software Engineer - .NET & C#',
       'Cybersecurity Software Developer',
       'Business Development Manager (Software Development Services)',
       'Senior Software Engineer/Fullstack',
       'Senior Software Development Engineer in Test - Data Analytics',
       'Software Developer in Test', 'Quality Assurance (QA) Specialist',
       'Principal Software Engineer (Backend)',
       'Software Development  Manager',
       'Senior Software Engineer Team Lead', 'Software Test Engineer',
       'Remote Software Job | Software Development And Design',
       'Senior Software Engineer (AI/Infra)',
       'Software Architect (JAVA MVC Springboot)',
       'Senior Software Engineer (Vue.js)', 'PS Software Engineer',
       'Sr. SQA Automation Engineer', 'Software Engineer (Full Stack)',
       'Senior Software Engineering Manager, Trilogy (Remote) - $100,000/year USD',
       'Mobile Apps (Xamarin) - Software Developer',
       'Software Engineer .Net & iOS',
       'Senior Software Engineer - .NET (6-months contract)'],
      dtype=object)

In [32]:
titles_to_drop=['Civil Engineers (Roads, QA/QC) QS','Business Development Manager (Software Development Services)']

In [35]:
df_3_Software_Eng=filtered_df_3_title[~filtered_df_3_title['Job Title'].isin(titles_to_drop)]
df_3_Software_Eng
len(df_3_Software_Eng)
len(df_3_Software_Eng['Job Title'].unique())

133

In [36]:
df_3_Software_Eng.to_csv('Filltered_Files/software_engineer_26_sep_to_26_oct_248_jobs_133_titles.csv',index=False)

import pandas as pd

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
it_tech_pattern = 'IT|Tech'
filtered_df = df[df['job_title'].str.contains(it_tech_pattern, case=False)]

import pandas as pd

it_tech_keywords = ['IT', 'Tech', 'Information Technology', 'Developer', 'Software Engineer', 'Data Scientist', ...]

# Assuming your DataFrame is named 'df' and the job titles are in a column 'job_title'
filtered_df = df[df['job_title'].apply(lambda title: any(keyword in title for keyword in it_tech_keywords))]